[2015-09-10 10:45] lucventurini opened #1 "Create base configuration files loadable from the command line"
At the moment, creating the configuration files is still a patchy process, by copying them manually from the sample_data location.

Mikado need to be able to do a "mikado.py configure" as a first step to create the necessary files.

Ideally, it would have two options:
- copying the YAML from a predefined folder
- configuring it on the fly using raw_input

Possible inspiration: sklearn.datasets.loa

[2015-09-10 10:50] lucventurini opened #2 "Add possibility of using standard scoring YAML files in the program library"
At the moment, scoring files have to be copied over or at the very least the absolute path to the file has to be given.

Ideally, it would be possible to give a keyword ("plant", "invertebrate", "vertebrate") to make Mikado aware of which standard scoring file it has to use.

[2015-09-10 11:20] lucventurini opened #3 "Load XML files from folder or providing a "*" pattern"
Code written, in testing.

[2015-09-10 13:14] #3 closed, assigned to nobody

[2015-09-10 13:15] lucventurini opened #4 "Configure serialisation using the YAML configuration file instead of the command line"

[2015-09-10 13:30] lucventurini opened #5 "Use BLAST data as source for scoring"
At the moment, we are under-utilizing BLAST data, employing it only for deciding whether to split or not a transcript. Ideally, this could not be the case - we could be using it to assign a score to each transcript.
However, to do this, the following problems have to be solved:
- decide for an appropriate scoring system. The scoring system envisioned by SnowyOwl could be a good guide. (http://bmcb

[2015-09-16 21:55] lucventurini opened #8 "Add WARNING in compare when analysing annotation files without transcript features"
As the title says. At the moment, the program fails silently, which would engender confusing results for the poor end user.

[2015-09-17 00:04] lucventurini opened #9 "Prefilter transcripts by size during prepare"

[2015-09-17 00:05] lucventurini opened #10 "Use FPKM/TPM to score transcripts"
It might help in choosing between different candidates. Maybe.

[2015-09-17 00:09] lucventurini opened #11 "Configure acceptable alternative splicing for pick"
At the moment we are using only "j" as an acceptable class code; this is probably too conservative. Ideally this should be configurable through the JSON/YAML configuration file

[2015-09-17 11:23] #11 closed, assigned to nobody

[2015-09-18 10:26] lucventurini opened #12 "Remove blast executable checking when blast: execute is False"
Otherwise things go awry for no good reason!

[2015-09-18 10:29] lucventurini opened #13 "Crash in the serialiser when max_target_seqs is not specified in the YAML"
This should not happen ... either I should create the configuration automatically or I should remove the check inside BlastSerializer!

[2015-09-18 10:31] lucventurini opened #14 "Standardise GFF output"
Necessary:
- Put attribute names to lower case except for main ones
- add ##sequence to the top of the file

[2015-09-18 13:04] #13 closed, assigned to lucventurini

[2015-09-18 13:28] #14 closed, assigned to nobody

[2015-09-18 13:28] #12 closed, assigned to lucventurini

[2015-09-18 18:17] lucventurini opened #15 "[URGENT] Use BLAST start/stop data to understand whether two ORFs are a duplication or fragments"
Currently, the BLAST algorithm is quite stupid ... we only look whether two ORFs share a hit, _without_ considering whether they hit _the same region_ of the target. This means that two duplicated genes, fused by one method, will end up being considered as fragments of the same gene and therefore the ORFs will _not_ get splitted.

This should be easily fixable by considering whether the hits share

[2015-09-18 22:45] lucventurini opened #16 "[URGENT] Redesign blast data loading"
At the moment, I perform many of the calculations inside the serialization class (**init**), e.g. the calculation of the global identity.
This is MASSIVELY inefficient because I cannot perform bulk inserts the right way. I will have to preprocess the Blast Hits / Hsps BEFORE loading them into the database so that I can actually use the bulk_insert appropriately.

[2015-09-23 20:24] #8 closed, assigned to nobody

[2015-09-24 12:34] lucventurini opened #17 "Primary tag attributed incorrectly in some loci"
This is puzzling ... setting that attribute to True is among the first things that happen when I create a locus. Patched inside the **str** function inside locus, but I would like to understand what is going on here.

[2015-09-28 10:19] lucventurini opened #18 "Compare assigning the wrong class code in the refmap when there are multiple isoforms"
The bug does not seem to affect many genes and is probably due to some quirk in the sorting function.

[2015-09-28 21:10] lucventurini opened #19 "[URGENT] Redundancy in alternative isoform retrieval"
Apparently I am selecting redundant isoforms for cufflinks_star_at.23563.3 at Chr5:26588239..26592477. See this location:

http://apollo.tgac.ac.uk/Arabidopsis_thaliana_TAIR10_browser/jbrowse/?loc=Chr5%3A26588239..26592477&tracks=DNA%2CAnnotations%2CFilteredREF%2CMikadoSplit&highlight=

[2015-09-30 11:04] #18 closed, assigned to nobody

[2015-09-30 13:38] #19 closed, assigned to nobody

[2015-09-30 13:39] #17 closed, assigned to lucventurini

[2015-09-30 20:39] lucventurini opened #20 "Mikado did not call retained introns correctly"
Fixed on 30/09; the method was actually quite buggy!

[2015-09-30 20:39] #20 closed, assigned to nobody

[2015-10-03 18:07] #2 closed, assigned to lucventurini

[2015-10-03 18:08] lucventurini opened #22 "[URGENT] Tag transcripts during preparation to avoid ID collisions."

[2015-10-03 22:44] #22 closed, assigned to nobody

[2015-10-03 22:51] #16 closed, assigned to nobody

[2015-10-03 22:51] #15 closed, assigned to lucventurini

[2015-10-04 00:06] #9 closed, assigned to lucventurini

[2015-10-04 12:45] lucventurini opened #23 "Create sorted output from the Picking phase, and rename transcripts/genes"
This is actually a bit harder than it looks. I might have to re-engineer the picking to make it more similar to what is going on during the prepare step.

The renaming is not an issue by itself, it's pretty trivial, but its requirement for it to be done _only if the output is sorted_ (to keep the progression straight) makes this more challenging than it would otherwise be.

[2015-10-04 12:46] lucventurini opened #24 "Check correctness of sorting during the picking operation"
At the moment no check is done, leaving open the door to disastrous runs!

[2015-10-04 12:47] lucventurini opened #25 "Consider cDNA length overlap as an alternative / complement to select valid AS events"
At the moment we consider only CDS overlap. This should be relatively easy to implement.

[2015-10-04 12:54] lucventurini opened #26 "Hard filtering for the final loci"
This would serve to e.g. eliminate immediately any locus where the longest transcript is below a certain size (this might happen due to e.g. splitting).

[2015-10-05 18:03] #24 closed, assigned to nobody

[2015-10-05 20:26] #23 closed, assigned to nobody

[2015-10-05 20:26] #5 closed, assigned to nobody

[2015-10-08 15:50] lucventurini opened #30 "Tabular output stats file for compare"
Tabular would make it easier to parse than the current user-friendly hardly parsable stats file.

[2015-10-10 14:27] lucventurini opened #31 "Junction data loaded incorrectly during the picking phase"
Apparently the junction data cannot be retrieved correctly by the database under current conditions, during the picking information. This needs to be fixed ASAP.

[2015-10-11 14:29] lucventurini opened #32 "Correct the query/target length hybrid expressions in serializers.Hit"
At the moment they are not present as hybrid_properties on their own and they do not have a proper expression. I am not even sure they function!

[2015-10-14 19:51] #32 closed, assigned to lucventurini

[2015-10-14 23:28] #1 closed, assigned to nobody

[2015-10-15 13:04] #4 closed, assigned to lucventurini

[2015-10-15 15:39] #31 closed, assigned to lucventurini

[2015-10-20 18:53] lucventurini opened #33 "Hit start/end is not stable between python 3.4 and python 3.5"
(Index numbers are different but they refer to the same query/target) To wit, python 3.4:

60|15554|309|2162|0.0
60|33178|786|2159|0.0
60|23699|1038|2162|0.0
60|17122|1017|2162|4.0991e-140
60|29970|834|2162|1.46758e-139
60|12814|927|2159|5.0235e-121
60|2692|933|2159|1.78093e-112
60|25675|1092|2159|8.90606e-99

Python 3.5:

60|37898|303|2156|0.0
60|30207|780|2153|0.0
60|3289|1026|2156|0.0
60|31107|

[2015-10-20 20:58] #33 closed, assigned to nobody

[2015-10-27 15:47] lucventurini opened #34 "Use of alternative translation tables"
This should be straightforward, using the BioPython library (which we make use of anyway).

See: http://biopython.org/DIST/docs/tutorial/Tutorial.html#htoc26

[2015-11-04 21:02] lucventurini opened #35 "Serialise dying b/c it is unable to find the FAI file, even if supplied by CL"
Serialise died for At because the genome_fai parameter was not specified inside the configuration file. However, it was specified on the CL.

[2015-11-05 14:00] lucventurini opened #36 "Mikado crashing with InvalidTranscript during splitting"
Error message:

Traceback (most recent call last):
  File "/tgac/software/testing/bin/core/../..//mikado/0.9.3/x86_64/bin/mikado.py", line 5, in <module>
    pkg_resources.run_script('Mikado==0.9.3', 'mikado.py')
  File "/tgac/software/testing/python/3.4.2/x86_64/lib/python3.4/site-packages/pkg_resources.py", line 488, in run_script
  File "/tgac/software/testing/python/3.4.2/x86_64/lib/python3.4/

[2015-11-05 14:53] lucventurini opened #37 "Improve the speed of Mikado"
There seems to have been a general slow down of Mikado, at least for 0.9.3 and 0.9.4. It is probably unrelated to the moving of functions. I will need to take Snakeviz out of the closet again.

[2015-11-05 19:43] #37 closed, assigned to lucventurini

[2015-11-06 10:03] lucventurini opened #38 "Fail gracefully in pick if the database is not found"
At the moment, pick just crashes when it cannot find the correct tables inside the DB (say, because its position or name or other connection options have not been specified correctly). It would be best to have it fail gracefully and tell the user that those options must be corrected before continuing.

[2015-11-06 11:01] lucventurini opened #39 "Fail gracefully if the json_conf file is not found"
At the moment the program just crashes, which won't do.

[2015-11-15 13:32] #25 closed, assigned to lucventurini

[2015-11-18 13:27] lucventurini opened #40 "Remove space after colon in GFF output"
Apparently the space creates problems for WebApollo. Removing it from the printing

[2015-11-19 11:26] #40 closed, assigned to nobody

[2015-11-19 16:37] lucventurini opened #41 "Provide a BED file with coverage to score transcripts/detect chimeras"
Coverage on the genome might be a good guide to find breakpoints, a la Trinity ... but it requires a specialised structure. Maybe the interval tree again?

[2015-11-23 17:23] lucventurini opened #42 "Implement proper GFF output for util trim"
At the moment, the output is correct for GTF files, but not for GFF - the whole relationship tree is mangled. It is necessary to rewrite the parsing function - maybe use the Gene container from scales?

[2015-11-24 18:25] #42 closed, assigned to nobody

[2015-11-24 18:26] #36 closed, assigned to lucventurini

[2015-11-24 19:01] #35 closed, assigned to lucventurini

[2015-12-08 13:01] maplesond opened #43 "Mikado fails when no options passed to subtool"
When typing something like: "mikado.py prepare" it would be nice if the help message for that tool would be returned instead of an error.

[2015-12-10 10:54] lucventurini opened #44 "Prepare crashing if called without arguments"
The problem is due to an assert inside the setup function.

[2015-12-10 10:57] #43 closed, assigned to nobody

[2015-12-10 10:57] #44 closed, assigned to lucventurini

[2015-12-14 15:05] maplesond opened #46 "Add "--force" command line option to mikado serialise"
In the mikado pipeline it's probably best not to present this as an option to the user in the configuration file, so I will manage it directly via the command line.

[2015-12-15 11:07] #46 closed, assigned to nobody

[2015-12-15 11:11] maplesond opened #47 "Add ability to handle multiple portcullis junction bed files"
In the mikado pipeline, it might be that we use multiple aligners, in which case we would have portcullis output for each aligner.  Those files need to be handled separately in mikado.

[2015-12-15 11:13] maplesond opened #48 "Ability to handle multiple BLASTX alignment files"
Potentially, users might want to align transcripts against multiple protein databases and feed that information into mikado serialise.  It might be nice to have a way of handling this in mikado. As an alternative workaround we could make it clear in the documentation that one way to handle this scenario is to concatenate the protein fasta files together before creating the BLAST database.

[2015-12-15 14:21] lucventurini opened #49 "Compare is confused by discrepant GeneID vs. gene name"
In some instances, genes with the same gene _name_ have a different gene _ID_, which confuses mikado compare. In practice, this ends up signalling as "fusions" things which are factually inside the same locus and with the same gene name, but different gene IDs.
The problem emerged with EnsEMBL GTF files, which are rife with these examples.

[2016-01-10 17:53] lucventurini opened #50 "Mikado slowing considerably during run [0.10.2]"
The first chromosome is done quite quickly, but each subsequent chromosome is dealt with more and more slowly. Moreover, memory usage seems to increase as the program progresses, which should not be the case.

[2016-01-13 16:26] lucventurini opened #51 "Prepare print transcript IDs as lists in the prepare log"
Example:

2016-01-13 04:02:40,975:INFO - prepare.py:88 - create_transcript - Discarded ['trinity_trinity69950.mrna1'] because of incorrect fusions of splice junctions

This should be a very simple fix.

[2016-01-18 17:59] lucventurini opened #52 "Splitting a transcript does not propagate the verified junctions"
This is due to a bug in the splitting function.

[2016-01-18 18:21] #52 closed, assigned to lucventurini

[2016-01-20 20:49] #50 closed, assigned to lucventurini

[2016-01-21 19:13] #51 closed, assigned to lucventurini

[2016-01-21 19:24] lucventurini opened #55 "Add possibility of using TD GFF3 files instead of the BED files, for loading the longest ORFs"
This is due to the fact that TransDecoder does _not_ create the BED file during LongOrf, but only a GFF3 file. This will require a separate parsing.

[2016-01-21 19:35] #39 closed, assigned to nobody

[2016-01-21 19:39] #38 closed, assigned to lucventurini

[2016-01-22 13:57] lucventurini opened #57 "Serialise not accepting input files on the command line"
From Dan's email:

mikado.py serialise --transcripts
spombeout4/5-mikado/mikado_prepared.fasta --genome_fai
spombeout4/5-mikado/Spombe.genome.fa.fai --junctions
spombeout4/4-portcullis/output/hisat.pass.junctions.bed --xml
spombeout4/5-mikado/blast/mikado-uniprot_sprot_plants-proteins.xml
--json-conf spombe.yaml --force --orfs
spombeout4/5-mikado/transdecoder/transcripts.fasta.transdecoder.bed >
s

[2016-01-22 23:24] #57 closed, assigned to lucventurini

[2016-01-22 23:25] lucventurini opened #58 "Add possibility of specifying an output directory for pick"
At the moment the files have to be created in the launch directory, which is inconvenient.

[2016-01-28 12:22] #58 closed, assigned to lucventurini

[2016-02-29 09:16] lucventurini opened #70 "Negative ORFs are loaded incorrectly for monoexonic transcripts"
This boils down to a simple error in the way I interpret the TD result. If the ORF is negative, the coordinates thick_start, thick_end refer to the _reversed_ sequence, not to the original one!

[2016-03-01 01:58] #70 closed, assigned to lucventurini

[2016-03-01 18:26] lucventurini opened #71 "Prepare ignoring transcript features without exon lines"
Due to changes in prepare, since version 0.16.5 only transcripts with valid exon lines are retained. This should not be the case - there might be prediction tools which create only CDS/UTR lines, for example.

[2016-03-02 23:31] #30 closed, assigned to lucventurini

[2016-03-11 20:24] #55 closed, assigned to lucventurini

[2016-03-29 18:57] lucventurini opened #75 "Compare does not assign fusion transcripts correctly to the RefMap"
The problem is that while all matches are sent to the Accountat after being assigned, only a subset makes it to the refmap. This is quite wrong, as it implies that there are transcripts which have been considered as "found" in the stats (and for which, indeed, at least a tenuous  match had been found) but that have no corresponding entry in the refmap!

[2016-04-27 08:47] #75 closed, assigned to lucventurini

[2016-04-27 08:47] #26 closed, assigned to lucventurini

[2016-05-03 14:58] lucventurini opened #77 "TransDecoder has mangled output"
Issues we need to solve:
- Sometimes transcripts are classified as open even when there is a methionine clearly downstream of the imputed start. We have to move the thick_start downstream in those cases.
- if the ORF is legitimately open, we should change the phases of the transcript accordingly.

[2016-06-15 12:17] lucventurini opened #82 "No check on the regularity of the requirements expression"
The "requirements" section of the configuration file is not checked properly when the configuration is loaded ("to_json"), so that the program might start and later crash when the expression is required. A mock test should be created inside the configuration loading.

[2016-06-15 12:59] lucventurini opened #83 "Output a configuration file with all the options but without files ("--no-files" as alternative to "--full")"
To be done to enhance interoperability with Dagger.

[2016-06-15 12:59] lucventurini opened #84 "Do not put file options in the simple configuration file"
For interoperability with Dagger. Also, add some options which are currently hidden.

[2016-06-15 13:10] lucventurini opened #85 "Allow multiple strandedness options during prepare"
At the moment Mikado only allows a global value, which won't do for complicated datasets.

[2016-06-15 14:05] lucventurini opened #86 "Allow prepare to use as input a file listing filename, label, source, strandedness"
This will simplify the prepare stage, as currently everything has either to be put on the command line or inside the configuration itself.

[2016-06-15 14:11] #77 closed, assigned to lucventurini

[2016-06-16 10:13] #82 closed, assigned to lucventurini

[2016-06-17 13:01] #47 closed, assigned to lucventurini

[2016-06-17 15:06] #85 closed, assigned to maplesond, lucventurini

[2016-06-17 15:43] #86 closed, assigned to maplesond, lucventurini

[2016-06-17 16:43] #71 closed, assigned to lucventurini

[2016-06-22 18:20] #84 closed, assigned to maplesond, lucventurini

[2016-06-22 18:21] #83 closed, assigned to maplesond, lucventurini

[2016-07-04 20:02] lucventurini opened #87 "Improve on the hack in mikado.snakefile for BLASTX"
A problem derived from the necessity of circumventing the strict bash mode of Snakemake is that the output of the "source" (or the "echo" placeholder) gets redirected to STDOUT as well. In the case of the BLASTX, this causes the XML file to have a starting empty line which in turn makes the XML parser internal to Mikado to crash.
At the moment I solved with this hack:

[code]

Notice the "sed '/^$

[2016-07-13 09:24] #87 closed, assigned to maplesond, lucventurini

[2016-07-13 09:33] lucventurini opened #88 "Sanitize Blast DB input before makeblastdb"
A problem with makeblastdb is that it fails to index the names properly when FASTA headers contain strange characters - such as tabs. This remains true from its previous incarnation in blastall (formatdb). It would be a good idea to sanitize the Blast DB input _before_ creating the database.

[2016-07-14 23:26] lucventurini opened #89 "[URGENT] Daijin needs to be able to specify the minimum ORF length for TransDecoder"
At the moment Daijin executes TransDecoder without asking for the minimum length of the ORF to be found. The default, 100 AA or 300 bps, _is too high for Mikado_ as the tool relies on the coding signal for many purposes. I suspect that many of the issues I have with the simulated data derive from the setting being too high; there are thousands of reconstructable transcripts with an ORF shorter tha

[2016-07-18 10:52] #89 closed, assigned to maplesond, lucventurini

[2016-08-08 11:05] lucventurini opened #90 "Add possibility to connect to MySQL/PostGreSQL databases using full connection strings on pick CLI"
At the moment, _-db_ only allows to specify a SQLite database. However, it should be trivial to change the implementation so that it can accept connection strings of the form "mysql://'user':'password'@'host':'port'/'dbname'".

[2016-08-16 19:42] #88 closed, assigned to maplesond, lucventurini

[2016-09-01 14:26] lucventurini opened #91 "[Daijin] Allow Daijin to use single-end Illumina datasets"
At the moment Daijin only accepts paired-end samples, which could be an unduly burden for some projects. We should provide a way of supplying and using single-end datasets as well.

[2016-09-01 14:28] lucventurini opened #92 "[Daijin] Implement a long-read section of the pipeline"
Currently Daijin does not allow to use PacBio (or NanoPore) reads. We should implement an additional optional section of the pipeline to use this kind of data as well.

[2016-09-06 16:59] lucventurini opened #93 "[Daijin] Allow for Diamond instead of BLASTX"
I just had a look at DIAMOND again. They added some time ago the capability of obtaining XML output instead of only tabular. I have to say I am **hugely** impressed ... it was able to perform the alignment of ~20,000 sequences in less than three minutes for my Mikado run.

Given the purpose for which we use BLAST (ie finding chimeras), we do not need super-accurate results. Giving the users the ch

[2016-09-06 20:48] lucventurini commented on #93
Update - now Daijin supports DIAMOND. Caveats:

- DIAMOND will support proper XML files that Mikado can use, but only from the *next* release. I had to signal and correct a couple of small bugs in the XML output.
- I am not able to make Snakemake choose dynamically between BLASTX and DIAMOND. This causes quite an inflexibility in the program.

[2016-09-06 20:54] maplesond commented on #93
Cool.  I found results to be very different between BLAST and diamond last year but agree the runtime is attractive.  If diamond is behaving sufficiently well for mikado then this is great.  I think dynamic selection might be tricky due to controlling all the additional options.  It's best to leave this in the users hands.

[2016-09-07 08:27] lucventurini commented on #93
I have to verify that last bit about the results (yesterday I was just trying to make it work, period). The problem I have at the moment is that I have no way of choosing at runtime which tool to use. There is the ``ruleorder:`` key in snakemake file, but it is unclear how one can modify it dynamically.

[2016-09-07 08:47] lucventurini commented on #93
This mail exchange seems to suggest that it should be possible to obtain the desired behaviour with an if-else statement and a boolean variable in the configuration dictionary. This would be great!

https://groups.google.com/forum/#!searchin/snakemake/ambiguous%7Csort:relevance/snakemake/qX7RfXDTDe4/rfsF3UrQAAAJ

[2016-09-08 15:51] lucventurini commented on #93
If-else behaviour implemented, and accessible through a not-advertised-for option in the configuration file. Closing for now, at least until Diamond solves its own output problems.

[2016-09-08 15:51] #93 closed

[2016-09-08 15:52] lucventurini commented on #10
Closing, implementing this would probably lead to lots of unforeseen problems.

[2016-09-08 15:52] #10 closed

[2016-09-08 15:53] lucventurini commented on #41
Closing, we are not going to use the coverage for now.

[2016-09-08 15:53] #41 closed

[2016-09-08 15:53] lucventurini commented on #48
Solved in Daijin by merging together the FASTA files. Closing.

[2016-09-08 15:53] #48 closed

[2016-09-08 16:05] lucventurini opened #94 "[Mikado] Remove the requirements regarding external data if external data is not supplied?"
At the moment the requirements section is pretty "stupid", ie it does not check whether a condition can be verified **at all** in the run. It might be a better idea to at least issue a stern warning at the beginning of the run, regarding this issue.

[2016-10-14 06:40] colindaven opened #95 "Is python 3.5 and pip3.5 absolutely necessary ?"
We only have Python 3.4 on our servers at present.

Thanks,
Colin

[2016-10-14 08:17] maplesond commented on #95
Hi Colin,

Luca's away travelling at the moment, and may not have wifi for a while, so I thought I'd chip in.

I'm not 100% sure if mikado requires 3.5 or whether it can run on 3.4 given some encouragment but in general it should be possible to have multiple python installs on your system simultaneously providing you build python 3.5 from source (I'd recommend using anaconda3 as it will have most

[2016-10-14 08:19] colindaven commented on #95
Thanks Dan.

We did get it installed, not sure if it will run through the test data successfully though.

Colin

[2016-10-31 11:54] lucventurini commented on #95
Hi Colin,
               sorry for the delay in replying but I just got back from my holidays. Short version, after some tests I think there is some problem in how Nose is dealing with the tests, rather than on Mikado code per se.

Would you be able to confirm that

```python3 setup.py test```

performs 237 tests correctly, while

```python3 setup.py nosetests```

dies with errors such as "nose.pr

[2016-10-31 12:06] lucventurini opened #96 "[Improvement] Implement an external merge sort algorithm for Prepare"
Rationale: as evidenced by Ines's case, sometimes the naive sorting algorithm employed in Mikado can kill the computer memory. The best bet seems to implement a conditional external [external sorting algorithm](https://en.wikipedia.org/wiki/External_sorting), possibly activated when too many objects are loaded in memory.

[2016-11-01 10:10] colindaven commented on #95
Hi Luca,

thanks for your comments.

Tests - we got it installed via a venv by the way.

python3 setup.py test

----------------------------------------------------------------------
Ran 237 tests in 9.573s

OK
Traceback (most recent call last):
  File "/usr/lib/python3.4/multiprocessing/process.py", line 254, in _bootstrap
    self.run()
  File "/usr/lib/python3.4/multiprocessing/process.py", lin

[2016-11-01 10:18] lucventurini commented on #95
Hi Colin,
              yes, TransDecoder is pretty much central to Mikado (either that or an equivalent software to find ORFs, although I am not aware of any currently).

I suggest to use the Daijin pipeline, developed by Daniel, to guide the steps. You can find a tutorial and more detailed instructions in this section of the documentation: http://mikado.readthedocs.io/en/latest/Tutorial/Daijin_t

[2016-11-18 19:35] lucventurini commented on #96
External sorting now activated by default using the [shelve|https://docs.python.org/3/library/shelve.html] module of the standard library.

[2017-01-04 14:39] lucventurini commented on #96
Now the external sorting is performed using temporary SQLite databases. Closing the issue.

[2017-01-04 14:39] #96 closed

[2017-01-13 17:57] #94 closed

[2017-01-13 17:57] lucventurini commented on #92
This feature has been present for a while. Closing the issue.

[2017-01-13 17:57] #92 closed

[2017-01-14 19:50] lucventurini commented on #95
Hi Colin,
             Nosetests now function also for version 3.4. Please note that due to some bugs in Python3.4 (which I have not been able to fully track down), Daijin is available for Python3.5 ONLY. Nosetests will be skipped for that part.

Cheers

[2017-01-14 19:50] #95 closed

[2017-01-31 09:54] lucventurini opened #97 "[Mikado serialise] Switch from simple pickling to uJSON/SQLite for BLAST loading"
In the preparation step, switching from the default pickling to a slightly more involved model using SQLite and uJSON yielded better performance and much lower memory footprint. While not essential, it might be worthwhile to switch to this model for serialising as well.

[2017-02-02 18:15] lucventurini opened #98 "[Pick] Modify the grouping algorithm at the monosubloci stage"
At the moment, the algorithm for grouping together transcripts surviving after the sublocus stage has the following conditions:

1 - at least some exonic overlap
2 - if *at least one* of the two compared transcripts is monoexonic, this is enough
3 - if *both* transcripts A and B are multiexonic, **one** of the following has to be verified:
      - at least one intron of A must overlap an intron of

[2017-02-06 17:42] lucventurini opened #99 "[Pick] Get the best class code for the putative fragments, write it out in the output file"
It might be useful to have the class code for putative fragments to be printed out together with the model. To this end, we have to find the best match for the transcript for it to be defined as a fragment.

[2017-02-07 18:21] lucventurini commented on #99
Solved in 3e19682.

[2017-02-07 18:21] #99 closed

[2017-02-07 18:21] lucventurini commented on #98
Solved, it will be included in beta 10.

[2017-02-07 18:21] #98 closed

[2017-02-17 12:20] lucventurini opened #101 "[pick] At the alternative splicing definition stage, we do not check for children"
This bug in the logic means that in some cases, two loci will be separate when considering the primary transcripts, but will contain fusions when looking at the AS events.

The solution is, *after* the AS definition, to check that such cases do not happen, and remove them in the cases when they do.

[2017-02-17 16:45] lucventurini opened #102 "[pick] In some occasions, transcripts that should be clustered in the same locus are kept separate"
Due to this bug, we effectively call as separate genes models which should either be AS events of the same transcripts, or clustered into a single locus and further filtered.

[2017-02-17 17:28] lucventurini commented on #102
The problem is that we do **not** use graph algorithms to establish what goes with what in the monosubloci holders, we use a simple loop. If the order of the transcripts is scrambled, we end up creating multiple holders where only one would have been feasible.

The culprit function is Superlocus.calculate_mono_metrics (line 1152).

[2017-02-21 16:08] lucventurini commented on #102
Solution implemented and tests added. Closing.

[2017-02-21 16:08] #102 closed

[2017-02-21 17:00] lucventurini commented on #101
Fixed and tested starting from 063cd26.

[2017-02-21 17:00] #101 closed

[2017-04-11 10:02] lucventurini opened #104 "[Compare] Mikado compare does not parse correctly MAKER output files"
MAKER by default outputs multiple mRNAs for the same gene *first*, then outputs the various exons (with multiple parents, if needed). This breaks the logic of Mikado, as it expects mRNAs to be followed by *all* their exons.

A workaround is to use GenomeTools to sort and tidy MAKER files, but it is suboptimal.

[2017-04-11 10:18] lucventurini commented on #104
Update: actually, GT is _**not**_ capable of solving the problem. A stopgap will have to be a script to tease apart the exons.

[2017-04-20 18:16] lucventurini opened #105 "[PICK] [URGENT] find_retained_introns explodes in complexity if the size of the locus is too big"
The number of calculations that have to be performed can easily explode, and reach over 200k. It is **imperative** to find a better way of handling this, or Mikado will crash due to the memory issues on high-density loci.

[2017-04-21 15:58] lucventurini commented on #105
The problem is in method:
Abstractlocus.find_retained_introns(transcript)

and more precisely in the called private method

Abstractlocus._is_exon_retained

Briefly, the problem is that we should put the exon-intron structure of the transcripts into a searchable **Directed Acyclic Graph**, and look *inside the graph* for evidence that the transcript is retained.

In the banal case, where there is

[2017-04-27 21:47] lucventurini commented on #105
The problem was not the find_retained_intron function (although having it fixed *is* a nice feature for future releases) but rather an explosion in the find_cliques algorithm during the calculation of AS events. The call to find_cliques has been substitute with calls to Graph.neighbors, making the program **extremely** faster and lighter in the presence of large transcript graphs.

[2017-04-27 21:47] #105 closed

[2017-08-03 14:13] lucventurini opened #106 "Handle gracefully wrong extensions for annotation files"
Currently, Mikado fails very cryptically if the annotation file is in a format different from what Mikado expects from the file suffix. Typically, this could be the case of eg. a GTF file misnomed with a .GFF extension. Mikado should be able either to recognize immediately the problem and switch parsers, or at least provide the user with a sensible error message.

[2017-09-20 11:42] Tierhon opened #107 "Invalid frame"
Hi,
when running mikado serialise, I get this error:
ValueError: Invalid frame specified for ID=Gene.60462::STRG.10290.2::g.60462::m.60462;Gene.60462::STRG.10290.2::g.60462;ORF_type:complete_len:328_(+),score=179.92: 360. Must be None or 0, 1, 2

Is it this line that is the issue? https://github.com/lucventurini/mikado/blob/1365804e263fe47bca857e5b891592c5af1e813b/Mikado/parsers/bed12.py#L281

Use

[2017-09-27 11:09] lucventurini commented on #107
Dear Ole,
                  Sorry for the late reply but I was on holiday.
The problem stems from the fact that there is no valid ATG at the position indicated by TransDecoder (360), as the codon there is “ATA”.
Are you working with a species with a non-standard genetic code? Unfortunately I have not got around to make Mikado support such cases yet, although it is on my TODO list.
For the moment,

[2017-09-27 11:17] Tierhon commented on #107
Dear Luca,
this is a fish, so shouldn't be anything special, besides some general fishiness.

I'll modify the configuration file as you said, and try again.

Thank you.

Ole

[2017-09-27 11:21] lucventurini commented on #107
Dear Ole,
               good to know. This looks likely to be a bug in TransDecoder then. The "max_regression" value should take care of this case (and others which would crop up in the BED file). Let me know how it goes!

Cheers

Luca

[2017-09-27 11:25] Tierhon commented on #107
Dear Luca.

I used TransDecoder 5.0.1. There seems to have been some changes to how it scores ORFs lately (https://github.com/TransDecoder/TransDecoder/releases) but I can't see anything explicit around ATA starting sites.

Ole

[2017-09-27 11:51] Tierhon commented on #107
Dear Luca.

After going through what I did, I see I might have messed up. I ran TransDecoder on the input fasta file (after converting using cufflinks_gtf_genome_to_cdna_fasta.pl). I'm restarting on the mikado_prepared.fasta file now, and hopefully that will work fine.

[2017-09-27 13:09] lucventurini commented on #107
Dear Ole,
                   That would definitely create problems. Please let me know how it goes after running TransDecoder on the mikado_prepared.fasta file!

Cheers

Luca

[2017-10-09 02:45] jayceejiao opened #108 "[Compatibility] Mikado incompatible with BioPython 1.69 and newer"
Hi Luca,

When I run mikado serialise with the sample_data, I get the following error message:
"Process _XmlPickler-0:
Traceback (most recent call last):
  File "/home/jiaochen/miniconda3/envs/mikoda/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/jiaochen/miniconda3/envs/mikoda/lib/python3.5/site-packages/Mikado/serializers/blast_serializer/xml_seri

[2017-10-10 15:02] lucventurini commented on #108
Hi Chen,
               which version of BioPython are you using? I am looking at the code, and it looks like there were important changes in this section of the library, starting from v1.69. I did not catch that due to an old version of the library being installed on both my personal production system and the Travis virtual machines I use for testing.

I will write a patch to make Mikado compatib

[2017-10-10 15:47] jayceejiao commented on #108
Thanks for your reply. Yes, I am using BioPython 1.70. I will downgrade BioPython to 1.68 and run Mikado serialise again. Will let you know if I encounter other problems.

[2017-11-09 12:10] #107 closed

[2017-11-09 12:12] #104 closed

[2017-12-11 14:44] kayussky911 opened #109 "- prepare.py:430 - ERROR - prepare - MainProcess - argument of type 'NoneType' is not iterable Traceback (most recent call last):"
Hi, Im just trying to try to learn to use Mikado. I ran this command;
mikado prepare --json-conf configuration.yaml
 Basically, Ive got two Augustus gff outputs and a reference genome. but I had this output;

2017-12-11 11:59:26,871 - prepare - prepare.py:67 - INFO - setup - MainProcess - Command line: /anaconda3/bin/mikado prepare --json-conf configuration.yaml
2017-12-11 11:59:38,208 - prepare -

[2017-12-11 14:56] lucventurini commented on #109
Dear Kay,
                 at a hunch, I would think that the problem is that the Augustus GFF by default are not valid GFF3 files, but rather follow an old version of the format more similar to GTF than GFF. Mikado is not currently capable of parsing these non-standard files.
A possible solution might be to re-run augustus with the "--gff3=on" tag. Alternatively, there might be some utility to pe

[2017-12-12 11:54] kayussky911 commented on #109
thanks Luca for the reply,
I used gffread in cufflinks to the gff tp gff3 files, one of the gtt3 looks like this;
_scaffold10x_1	AUGUSTUS	CDS	3591	3908	0.61	-	0	transcript_id "g1.t1"; gene_id "g1";
scaffold10x_1	AUGUSTUS	CDS	4003	4530	0.40	-	0	transcript_id "g2.t1"; gene_id "g2";
scaffold10x_1	AUGUSTUS	CDS	31156	31470	0.28	+	0	transcript_id "g3.t1"; gene_id "g3";
scaffold10x_1	AUGUSTUS	CDS	72040	7

[2017-12-12 12:12] lucventurini commented on #109
Dear Kay,
                 these are indeed GTF rather than GFF3 files. If you change the file extension from GFF3 to GTF, Mikado should be able to handle your files correctly.

Cheers

[2017-12-12 16:46] kayussky911 commented on #109
Hi Luca, thanks for the assistance so far.
I changed the file extensions to GTF, and the configuration file looks like
canada.gtf      ca      True
erins.gtf       eri     True

but, running mikado configure --list list.txt --reference genome.fa  --mode permissive --scoring worm.yaml --copy-scoring worm.yaml  configuration.yaml
 and mikado prepare --json-conf configuration.yaml

still gives the er

[2017-12-12 16:49] lucventurini commented on #109
Dear Kay,
                this error is most likely due to some lines in your GTF which do not have a  "transcript_id" feature.

$ grep -v transcript_id canada.gtf | grep -v "^#"

should give you the offending lines.

Cheers

[2017-12-14 16:47] lucventurini opened #110 "[BUG] Potentially the daijin_exe configuration file is not read correctly"
As reported by Thom Mathers. Need looking into ASAP.

[2017-12-14 16:50] lucventurini opened #111 "[BUG] Docs won't build for Mikado on RTD"
As reported in the header

[2017-12-19 14:33] jfouret opened #112 "errors/warnings in prepare.log and mikado_pick.log"
Hi ,

Many thanks for providing the community with mikado software,

I have tested this with the daijin pipeline. All was fine until the mikado prepare steps where I got some warnings in the prepare.log file. I have also noticed errors/warnings reported in the mikado pick log file. At the end I still got a results. Could you clarify those errors adn warnings to me ?

Here is how daijin pipeline ha

[2017-12-19 16:48] lucventurini commented on #112
Dear jfouret,
                      thank you for your extremely detailed log. In order:

- WARNING - check_strand: this warning is expected and perfectly in order. During the prepare run, Mikado checks whether the splicing junctions of the transcript are coherent with the assigned strand. If they are not, Mikado will invert the strand. If there is a mixture of strands, like in your case, Mikado w

[2018-02-04 15:16] simonvh opened #113 "`daijin mikado` command fails"
I have run `daijin assemble` without problems. Now, I want to run the `daijin mikado` command, but this fails with an error from snakemake. I have had a quick look at the code, but I don't see any differences between how `daijin assemble` and `daijin mikado` handle the config file. Any clues?

This is the config file created by daijin (renamed to .txt for github):
[mikado.yaml.txt](https://github.

[2018-02-05 10:39] lucventurini commented on #113
Unfortunately I am unable to reproduce the bug on my machine. It might be related, however, to the bug fix I implemented in the lastest commit (c13e0ed). Would you be able to correct your installation to see whether it fixes your problem?

Please let me know about further developments on this issue, or further issues you might encounter.

[2018-02-05 21:55] simonvh commented on #113
That did it, thanks!
One additional small remark: diamond should probably be added to the dependencies.

[2018-02-06 10:29] lucventurini commented on #113
Thanks for the suggestion! I have just updated the README to state clearly the dependencies for the Daijin pipeline. I will close the issue for now, but please do not hesitate to contact me if you have further queries.

[2018-02-06 10:29] #113 closed

[2018-02-21 16:56] ctxchris opened #114 "Mikado serialize - not found in the index"
Hi,

I'm getting a lot of warnings like this:

STRG.1000.1	0	3083	ID=STRG.1000.1.p1;GENE.STRG.1000.1~~STRG.1000.1.p1;ORF_type:5prime_partial_len:540_(+),score=167.57	0	+	2	1622	0	1	3083	0

The respective entry stems from a stringtie assembly. I provided the stringtie gtf at the configure stage where the entry is represented like this:

Scaffold_2	StringTie	exon	13562237	13562368	1000	+	.	gene_id "

[2018-02-21 18:10] lucventurini commented on #114
Dear Christian,
                           Have you provided the cDNA FASTA file to serialise? Off the top of my head, that's the most likely cause for the error.
It might help if you could provide the command lines you are using.

Kind regards

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christian Dreischer <notifications@github.com>
Sent: Wednesday, Feb

[2018-02-21 20:32] ctxchris commented on #114
Hi Luca,

I ran the following commands:

`mikado configure --list mikado.list --reference ref.fasta  --junctions portcullis_filtered.pass.junctions.reheader.bed --mode permissive -t 50 -od ./ --intron-range 20 500000 configuration.yaml`

`mikado prepare -scds --json-conf configuration.yaml -p 50`

`diamond blastx --max-target-seqs 5 --threads 40 --query mikado_prepared.fasta --outfmt 5 --db /datab

[2018-02-22 10:36] lucventurini commented on #114
Hi Christian,
                      The problem is that Mikado serialise is missing the input transcripts. If you update the CL to:

mikado serialise --json-conf configuration.yaml --xml mikado.blast.xml.gz --blast_targets /databases/UniProt/swissprot/uniprot_sprot.fasta --orfs stringtie_transcripts.transdecoder.bed,cufflinks_transcripts.transdecoder.bed -p 50 -–transcripts mikado_prepared.fasta

[2018-02-22 12:50] ctxchris commented on #114
Hi Luca,

I realized my mistake this morning and run it again with the `--transcripts mikado_prepared.fasta` option, but the error stays the same. I find the "invalid entry" STRG.1000.1  as well in the fasta file as in the index:

 st_STRG.1000.1`

st_STRG.1000.1	3083	95488188	60	61

I just noticed a difference between TansDecoder v5.0.1 and v5.0.2 output which might be a reason why the bed parser

[2018-02-22 13:26] lucventurini commented on #114
Hi Christian,
                      If the only difference between the two BED files is the presence of the “~” signs, I do not believe that that would cause the error. Mikado should use the first field in the BED file (the “chromosome”) to determine the ID to look for in the index, not the name.
If indeed TD 5.0.1 functions but 5.0.2 does not, that is an issue I will have to tackle ASAP, so thank

[2018-02-22 15:54] ctxchris commented on #114
Hi Luca,

you're right, running serialise it with the old TransDecoder format resulted in the same error.
I always deleted the output of a stage when I run it again.
Despite the those warnings, all stages run through and produce a gff in the end. However, the entries contain only non-coding genes:

118892 exon
  26241 ncRNA
  21625 ncRNA_gene
  21099 superlocus

The gff without using the ORF evide

[2018-02-22 16:41] lucventurini commented on #114
Hi Christian,
                    I just realized where the problem lies ... Mikado serialise presumes that the IDs in the GTF (mikado_prepared.gtf) are the same as those used for TransDecoder. However, from what I understand you ran TransDecoder on the assemblies *before* running mikado prepare. The problem is that Mikado prepare, to avoid ID collisions when merging multiple files, prefixes all I

[2018-03-01 11:19] ctxchris commented on #114
Hi Luca,

this did the trick, thanks!
Maybe you have a recommendation concerning parameters:

The final gene structure has a considerably smaller gene- and mRNA length (1/3 - 1/2) compared to the input data. The gene coordinates between the input files have high agreement though. I'm wondering why that is and if I could change the behavior by altering some parameters.

Thanks,
Christian

[2018-03-08 10:53] lucventurini commented on #114
Hi Christian,
                   sorry for the late reply. Could you explain a bit better what is the issue with the Mikado models - is it that the models are shorter, on average, than the input transcripts?
If that is the case, it is most probably the case that Mikado detected many chimeric transcripts and split them according to the ORF data. You should be able to tell whether that is the case b

[2018-03-26 16:40] lucventurini opened #115 "Mikado 1.1.1 exhibits lower precision than Mikado 1.0 on simulated data"
This is provisional, but from tests done for the paper, it looks like the published version (1.0) has higher precision than the current version (1.1). Current hypotheses for the behaviour include:

- TransDecoder 5.0.0 and/or Prodigal might provide worse ORFs than TransDecoder 3.0.0 (the version used for the article)
- DIAMOND might provide worse results than BLAST
- The new grouping algorithm mig

[2018-03-27 13:30] #109 closed

[2018-03-27 13:34] lucventurini commented on #115
Analysis redone using Mikado/development with the same database/prepared data as the one used for 1.0. There is indeed a loss in precision of over 10% using simulated data with the new version. Investigations ongoing.

[2018-03-27 17:03] lucventurini commented on #115
Comparing, on simulated data, the alternative splicing events brought in by the new version but *not* by the old, the most different metrics are:

- combined_cds_intron_fraction 3108 53.16
- combined_cds_locus_fraction 2242 38.35
- exon_fraction 3481 59.54
- intron_fraction 3215 54.99
- retained_fraction 1723 29.47
- retained_intron_num 3743 64.03
- selected_cds_intron_fraction 2367 40.49
- select

[2018-04-09 16:14] lucventurini commented on #115
The main cause of this issue has been confirmed in the different behaviour of the new algorithm for finding retained introns. Given the poor performance, the method has been now rewritten to mimic more closely the old version (vv 1 and before).

[2018-04-09 16:14] #115 closed

[2018-04-19 13:00] SchreiberM opened #116 "Issue with mikado configure"
Hi,

I've downloaded Mikado v.1.1.1 through Bioconda and had was not able to create a configure.yaml file.
Downgrading to 1.0.2 worked, so I'm using this version at the moment.

Following problem on version 1.1.1:

Setting the parameters as the following:
mikado configure --list List.txt --reference $ref  --mode permissive --scoring plants.yaml --copy-scoring plants.yaml configuration.yaml

produc

[2018-04-19 16:08] lucventurini commented on #116
Dear Miriam,
                      thank you for your bug report.

Regarding the first issue, you are right, the default behaviour of Mikado is wrong. I fixed the bug and it will function correctly (ie producing a Mikado-only configuration) from the next version. However, the Daijin configuration you will obtain is still valid for Mikado, so you could run version 1.1 with that configuration.

Rega

[2018-04-27 14:17] uncleflybfchen opened #117 "errors in prepare.log"
Many thanks for providing Mikado software.

I am using Mikado in our _de novo_ assembly project. I got the following error messages in prepare.log when running the mikado prepare steps.

[code]
[code]
[code]

- Are these errors related to my environments?
- How can I fix these errors?
- Although some errors occured, I still got two files, mikado_prepared.fasta and mikado_prepared.gtf. Can I still

[2018-04-30 16:14] martinjvickers opened #118 "Creating the `trinity.gff3` file"
Hi Luca,

I'm attempting to follow your [tutorial](https://mikado.readthedocs.io/en/latest/Tutorial/index.html) with some of our own data and I'm a little unsure how to create the `trinity.gff3` file. In the docs it says;

Am I correct in thinking that I need to map the assembled transcriptome (the `Trinity.fasta` file) to the reference genome (in my case TAIR10) to create the `trinity.gff3` file?

[2018-05-02 10:12] lucventurini commented on #118
Dear Martin and Yi,
                                the trinity.gff3 file cited in the tutorial is present in the sample_data directory (https://github.com/lucventurini/mikado/blob/master/sample_data/). Details on how the assemblies were generated, including of how the Trinity transcripts were aligned onto the genome with GMAP, can be found in the manuscript: https://www.biorxiv.org/content/biorxi

[2018-05-02 17:43] yifangt commented on #118
Thanks a lot!

Yifang

On Wed, May 2, 2018 at 4:13 AM, Luca Venturini <notifications@github.com>
wrote:

[2018-05-03 16:15] #116 closed

[2018-05-09 14:08] martinjvickers opened #119 "DRMAA_LIBRARY_PATH when running locally"
I've installed mikado with bioconda locally along with the dependencies required.

I'm getting the following error;

[code]

I'm not attempting to use a scheduler so no DRMAA libraries are installed locally. Do I need to go about installing SGE/SLURM or something locally to run this software?

[2018-05-09 14:09] martinjvickers commented on #118
Thank you. Maybe the daijin tutorial should be where the "quick start" links to?

[2018-05-09 14:09] #118 closed

[2018-05-10 11:03] lucventurini commented on #119
Dear @martinjvickers ,
                                   the command:
``daijin assemble -nd --cores 1 daijin.yaml``

should function. Please note the "-nd", which instructs Daijin *not* to make use of DRMAA.
If it does not, please let me know so that I can look into the issue in more detail.

I will try to make Daijin more clever by switching to no DRMAA if none is found, but it might not be stra

[2018-05-10 12:02] martinjvickers commented on #119
Hi @lucventurini,

Perfect, thank you. Maybe the `-nd` flag should be added to the Daijin [tutorial](https://mikado.readthedocs.io/en/latest/Tutorial/Daijin_tutorial.html#step-2-running-the-assemble-part). My assumption was that by not specifying a `--scheduler` that we were in local mode.

As a quick aside, even if you fix the reported error by installing a DRMAA library, you get crazy errors com

[2018-05-10 12:02] #119 closed

[2018-05-10 12:11] martinjvickers commented on #91
@lucventurini I've just noticed this issue. This isn't still a problem is it? It's not mentioned anywhere in your docs or paper and it's an old issue. The tutorial even goes as far as saying in the [docs](https://mikado.readthedocs.io/en/latest/Tutorial/Daijin_tutorial.html#step-1-configuring-daijin) describing the Daijin samplesheet that;

[2018-05-10 13:04] lucventurini commented on #91
Hi Martin,
                 this should indeed not be a problem any longer. We solved this a long time ago, I just forgot to close the issue.
I am testing it now on a small dataset and I will let you know soon.
Incidentally, thank you for preparing the singularity recipe. I will review it soon!

Kind regards

[2018-05-10 14:30] lucventurini commented on #119
Hi Martin,
                I am releasing version 1.2.2 which should fix the problem permanently.
Cheers,

Luca

[2018-05-10 14:45] martinjvickers commented on #119
Great thank you

[2018-05-11 00:35] lucventurini commented on #108
This should have been fixed by 834bfe1d2c8. Closing until further notice of bad behaviours.

[2018-05-11 00:35] #108 closed

[2018-05-11 02:36] lucventurini commented on #117
Dear @uncleflybfchen,
                                     many apologies for the late reply.
You have two different errors here:
- In the first case, Mikado is complaining that the length of the FASTA sequence is different from the expected length of the DNA fragment. This is bizarre, and I cannot fathom the origin of the mistake like this. I will try to make the error message more informative.
-

[2018-05-11 09:47] #114 closed

[2018-05-11 09:48] lucventurini commented on #111
Solved, now docs build correctly.

[2018-05-11 09:48] #111 closed

[2018-05-11 09:48] lucventurini commented on #110
Solved.

[2018-05-11 09:48] #110 closed

[2018-05-11 09:48] #91 closed

[2018-05-15 15:57] kayDaramola opened #120 "mikado prepare assertion error"
HI,
I was trying Mikado on some transcript files, 2 of the input gff files are predicted transcripts of different libraries, while the third is a stringtie output generated from the merged reads (bam files) of both assemblies.

I ran **mikado prepare --json-conf configuration.yaml** ALthough I do have a **mikado_prepared.fasta** and **mikado_prepared.gtf** file. But the **prepare. log** file says,

[2018-05-15 20:53] kayDaramola commented on #120
hi, I think the problem was the stringtie gff, I removed it and used the other two files and the output was:

2018-05-15 17:09:04,426 - prepare - prepare.py:67 - INFO - setup - MainProcess - Command line: /pub38/kayussky/anaconda3/bin/mikado prepare --json-conf configuration.yaml
2018-05-15 17:10:51,580 - prepare - prepare.py:447 - INFO - prepare - MainProcess - Finished

thanks

[2018-05-16 08:51] lucventurini commented on #120
Hi Kay,
             sorry for the late reply. I have been looking at this bug already, and you are at least the second person experiencing it.
If your data is not confidential, would you be able to send me the FAI of your genome and the stringtie GTF? I do not need the full genome, just these two files. It would also be helpful to know which version of stringtie you are making use of.

Best

[2018-05-31 21:14] kayDaramola commented on #120
Unfortunately, I am not authorized to share data, I would have to check with my PI.
I would send you a personal email if I get authorized.
thanks

[2018-06-26 20:58] cjean21 opened #121 "scallop error line 265"
https://github.com/lucventurini/mikado/blob/3a40276bdff8c4825c2c888d4d0687c8ea305e8f/Mikado/daijin/tr.snakefile#L265

fr-secondstrand should be fr-firststrand

Regards,

[2018-06-27 10:50] lucventurini commented on #121
Thanks, I will amend.
Kind regards,

[2018-06-27 10:53] #121 closed

[2018-07-12 11:05] lucventurini commented on #117
Hi @uncleflybfchen , I am about to release a new version which should not have the issues you encountered. I am not closing the issue yet, I would need you to try to rerun Mikado again to see whether the problem has been fixed.
Kind regards

[2018-07-12 11:10] lucventurini commented on #112
The "Warning" message for invalid strand has now been degraded to DEBUG.

[2018-07-13 06:19] uncleflybfchen commented on #117
Hi @lucventurini , I am very glad to rerun Mikado using the new version. How could I install the new version, follow the old procedure?

[2018-07-13 13:12] lucventurini commented on #117
Yes, Mikado can be installed through conda and GitHub. I still have to load the new version on PyPI though, so that method will not be suitable for the time being. I plan to release onto there today or tomorrow.

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: uncleflybfchen <notifications@github.com>
Sent: Friday, July 13, 2018 7:19:33 AM
To: lucventurin

[2018-07-19 10:28] lucventurini opened #122 "Allow Mikado compare, Mikado util stats and Mikado util convert to use *BED12* as input format"
At the moment Mikado relies on mostly using GTF/GFF3 files. This is due to the fact that BED12 files have no set ways of indicating CDS or parent (ie gene), making their analysis a bit fudgy and brittle.

However, it should be possible to create on the fly a "gene" for BED12 transcripts.

[2018-07-19 15:38] lucventurini commented on #122
Closing. BED12 files are assumed to be of transcripts, and there is no way of indicating a "gene" for BED12 files. To be considered as a coding model, a BED12 fourth field should have "coding=True" within.
Apart from this, BED12 files are now fully supported for Mikado prepare, compare, stats, and convert.

[2018-07-19 15:38] #122 closed

[2018-07-27 10:48] lucventurini opened #123 "Improve add_transcript_feature"
Improvements:
- do not merge things that are on different chromosomes, just split
- split into different transcripts if introns are over a certain size
- if the intron is too small, provide two options:
   - merge the exons into a single exon
   - split into different transcripts
- Sometimes when coming from MAF there are overlapping exons (ie different alignments of the same read portion onto the

[2018-07-30 13:54] sagnikbanerjee15 opened #124 "Error while running configuration"
Hello,

I am currently running the following command "mikado configure --list mikado_list_file --reference ../genome/Zea_mays.AGPv4.dna.toplevel.fa --mode permissive --scoring plant.yaml --copy-scoring plants.yaml -bt uniprot_sprot_plants.fasta configuration.yaml" but I am running into the following error.

2018-07-30 08:47:51,697 - to_json - configurator.py:567 - ERROR - check_json - MainProcess

[2018-08-13 14:53] lucventurini opened #125 "[Improvement] Verify the possibility of using NetworKit instead of NetworkX for intensive operations"
The new framework has C/C++ bowels linked through Cython and makes extensive use of OpenMPI - so it could be a veritable boon for some operations in Mikado. However, the API is really different, so it probably makes sense to convert and de-convert the graphs on the fly.

[2018-09-11 09:02] SchreiberM commented on #117
Hi,
I've encountered the same error message as the original post. The new versions still had the same issue, just a different error message.

The problem was my reference file which still contained windows line endings which I think threw the index off. After using dos2unix everything worked fine.

I hope this might help someone.
Cheers,
Miriam

[2018-09-11 09:04] lucventurini commented on #117
Hi Miriam,
                    that would most definitely throw off the parser - it would be a python issue though, rather than specifically about Mikado. Thank you for contributing the workaround!

[2018-09-26 08:20] lucventurini opened #126 "CDS not stripped from transcripts when model is reversed"
As noted by @gemygk and communicated to @swarbred, Mikado models with a CDS that get reversed do not get their CDS stripped. This is of course a mistake that has to be corrected.

[2018-09-26 08:48] lucventurini commented on #126
As an additional requirement, if "strip_cds" is False and the CDS would be stripped, Mikado should raise an InvalidTranscript error.

[2018-09-27 10:09] lucventurini opened #127 "Models identical in cDNA but not in CDS considered redundant by Mikado prepare"
Mikado prepare does consider only the exonic structure when discarding models – not the CDS. So if two models were identical in terms of exons but had a different CDS (say, because only one model had its ORF called) Mikado would still consider the pair “redundant”. This is not a problem for how we used Mikado so far (ie on transcript assemblies and/or PacBio reads) but in rare cases might have led

[2018-09-30 11:59] anishdattani opened #128 "Overlapping superloci in my resultant mikado.loci.gff3 file"
Upon execution of the Mikado Pick, I get some unexpected results.

In the resultant mikado.loci.gff file, I seem to be getting 'superloci' that overlap in genomic coordinates. Surely these should be treated as isoforms not new loci?

I have attached an example of chromosome from this gff file; note that mikado.dd_Smes_g4_386G2 and mikado.dd_Smes_g4_386G4 overlap.

How can I avoid this? This will b

[2018-10-01 11:45] anishdattani commented on #128
Dear Luca,

Thank you for your reply -

I have attached a notebook which explains the steps I took for executing Mikado and well as the "configuration.yaml’ file used for mikado pick.

In the mikado serialise step - the database was generated using ORF files generated from Transdecoder of my various assemblies that were mapped to my genome; as well as BLAST data and splicing information.

I then e

[2018-10-02 15:35] anishdattani commented on #128
I also have found another probable error in my mikado.loci.gff3 output -
I seem to be lacking entire annotations for entire regions of chromosomes, despite these being annotated in the various gff files that are used as the input. Upon closer inspection, these missed annotations seem to be ones with large introns? Is there a parameter in the pick step that I need to modify. Moreover, as I am worki

[2018-10-02 15:45] lucventurini opened #129 "Correct the expansion of UTR/CDSs in the padding"
At the moment, the expansion does not happen correctly. Namely, the CDS ends up always being one base off and therefore gets thrown away.

This issue will track improvements on this front.

[2018-10-02 17:02] lucventurini commented on #129
Region 0:6541786-6575880 is another candidate for testing this problem, this time on the negative strand. Initial testing with the current version in the branch yielded *incorrect* results, while the tests on the positive strand *passed*. This indicates that probably something is amiss in the reverse complement.

[2018-10-03 10:26] lucventurini opened #130 "Allow to filter on *different* metrics during scoring"
Currently, when evaluating a metric for scoring, it is possible to specify conditions that would make Mikado assign to it a score of 0. For example, if we are considering the metric non_verified_introns_num, we cannot explicitly say that this metric should be ignored when the transcript is monoexonic.

A solution could be allowing expressions of the form:

[code]

This would allow to filter based

[2018-10-03 12:16] lucventurini commented on #130
An issue has emerged: currently, when a transcript is excluded from the scoring for a metric because it runs afoul of the filter, *its metric value is still being considered for calculating the boundaries of the scoring*.

So for example if e.g. the scoring is on "maximum length of the 3'UTR, with a filter after 2500bps", if a transcript with a UTR of 3000bps is present in the locus *no transcript

[2018-10-04 11:13] lucventurini opened #131 "Prevent loci from being lost due to chaining"
Currently, due to the architecture of Mikado, it can happen that loci get lost in scenarios like the following:

- Real loci to find: transcript A, transcript B
- Transcript C spans both loci and shares an intron with A *but not with B*. C is *not* a valid alternative splicing event for B.
- Sublocus stage: C wins over A, B wins as singleton
- Monosublocus stage: B wins over C
- Locus stage: We on

[2018-10-05 13:45] lucventurini opened #132 "[CDS] Make mikado (prepare?) check verify whether an ORF has start and/or stop codon"
Currently, Mikado does *not* check whether a transcript with an *inherent CDS* has a complete ORF. This is problematic as it prevents Mikado from fully using CDS-related metrics for models that do not have a UTR (e.g. aligned proteins).

As Mikado prepare already pulls up the sequence, it should be easy to check this on-line.

[2018-10-05 13:49] lucventurini commented on #129
Closing for now as no related bugs have been reported for now.

[2018-10-05 13:49] #129 closed

[2018-10-05 13:50] lucventurini commented on #130
Fixed and tested, closing for now.

[2018-10-05 13:50] #130 closed

[2018-10-05 14:45] lucventurini commented on #126
This should also have its tests done. Closing.

[2018-10-05 14:45] #126 closed

[2018-10-05 17:06] lucventurini commented on #127
Properly tested. Closing.

[2018-10-05 17:06] #127 closed

[2018-10-10 08:35] lucventurini commented on #132
Feature correctly implemented. Closing.

[2018-10-10 08:35] #132 closed

[2018-10-10 08:36] lucventurini commented on #131
Correctly implemented. Closing.

[2018-10-10 08:36] #131 closed

[2018-10-10 08:37] lucventurini commented on #120
Closing as no comment for almost six months.

[2018-10-10 08:37] #120 closed

[2018-10-10 08:45] #112 closed

[2018-10-10 08:45] lucventurini commented on #49
Closing for now.

[2018-10-10 08:45] #49 closed

[2018-10-10 08:46] #117 closed

[2018-10-10 13:57] lucventurini commented on #123
Script amended as requested.

[2018-10-10 13:57] #123 closed

[2018-10-10 17:20] lucventurini opened #133 "[BUG] Mikado prepare forgets the phases of the CDS of input transcripts"
When a coding transcript with a truncated ORF at the 3', ie with a non-0 starting phase, passes through Mikado prepare, the program sets that phase to 0 arbitrarily. This should be repaired before the release is finalised.

[2018-10-10 18:07] lucventurini commented on #133
The problem stems from the fact that - stupidly - I am not storing the CDS phases in the load_into_storage function (Mikado.prepare.annotation_parser). This is the section that has to be fixed for mikado prepare to function properly.

[2018-10-10 19:08] lucventurini commented on #133
Unit test added and all checks passed. Closing.

[2018-10-12 15:33] lucventurini opened #134 "[Improvement] Check that coding ASEs share the frame with the primary transcript"
Currently, Mikado only performs a CDS overlap check to make sure that two transcripts are compatible as ASEs. However, we do not check whether they actually encode a compatible protein. This requires to calculate the CDS **codons** and verify that at least some of them are in common.

As it is probably an expensive operation, we should not call upon it until the last possible moment (ie during the

[2018-10-12 17:22] lucventurini commented on #133
Solved the corner cases that were causing sparse failures. Closing for now, although we might want to give the option to adjust the start for CDSs (comparatively with what we do with TransDecoder) in the future.

[2018-10-12 17:22] #133 closed

[2018-10-14 15:16] lucventurini opened #135 "Have mikado use the phase also for GTFs"
At the moment mikado incorrectly considers the 8th field in GTFs as *frame* rather a phase (like in GFF3s). This is incorrect and makes Mikado GTF output incompatible with GenomeTools, Gffread, and ENSEMBL. Targeted for correction for 1.3.

[2018-10-15 12:03] #34 closed

[2018-10-15 13:56] lucventurini commented on #135
This should now be fixed. Closing.

[2018-10-15 13:56] #135 closed

[2018-10-15 19:20] lucventurini commented on #134
We currently have to decide whether we will calculate the CDS overlap for ASEs based on the *shorter* between the two CDSs or whether to always use the primary transcript as benchmark. Currently implemented as a switch and keeping the old behaviour as default; this cannot be affected by the outside.

[2018-10-16 09:06] lucventurini commented on #134
The current method for calculating the frames is too expensive. A better way would do the following with two exons:

- check whether they are overlapping
- if they are overlapping, sort them, then check whether (downstream + phase)-(upstream + phase) %3==0

Of course downstream/upstream have to be defined according to the stand.

[2018-10-16 15:49] lucventurini commented on #134
Feature implemented and tested. Closing.

[2018-10-16 15:49] #134 closed

[2018-10-16 15:50] lucventurini opened #136 "Update documentation"
The documentation for Mikado might need some refreshing in some areas, to clarify points and update on the latest developments. This should be completed before we release the next version.

[2018-10-18 18:47] lucventurini opened #137 "Increase unit-tests coverage"
At the moment the unit-test coverage is decent but nothing more, and this has led to some silent bugs that hit at the most inconvenient moment. Code coverage should be at least at 90%, and currently we are only at 79%.

[2018-10-18 18:49] lucventurini opened #138 "During picking, the original phases are lost"
This prevents picking from correctly evaluating transcripts with truncated ORFs and must be solved with the utmost urgency.

[2018-10-19 12:29] lucventurini commented on #138
Solved. This required modifying the "as_dict" and "load_dict" methods for Transcript, plus an internal method during the Transcript finalization.

As a bonus, solving this bug means that now Mikado can successfully finalize transcripts with multiple internal ORFs (before, they had to be without an ORF and ORFs had to be loaded separately).

[2018-10-19 12:29] #138 closed

[2018-10-25 14:27] lucventurini opened #139 "Mikado does not reverse complement lower-case nucleotides correctly"
This bug is caused by the use of an incomplete translation table in TranscriptChecker. It affects any run of Mikado where the genome is even partially soft-masked, as the extracted cDNA sequence in mikado_prepared.fasta *will not be correctly reverse complemented*, affecting any downstream analysis (ORF calling, BLAST, etc.).
This bug is of the utmost priority.

[2018-10-25 14:28] lucventurini commented on #139
Solved in c505514b54a96f8b1f128a9bc60796853f90ac95.

[2018-10-25 14:28] #139 closed

[2018-10-31 07:06] lurebgi opened #140 "TypeError: 'str' object does not support item assignment"
Hi, I had an error when running the pick step

How could I fix it?

[2018-11-01 16:00] lucventurini commented on #140
Dear @lurebgi ,
this seems like an error related to the parsing of the configuration or scoring file(s). Would you please be able to send it over, either here or - if confidentiality is better - at my official email address luca.venturini@earlham.ac.uk?

Kind regards

Luca Venturini

[2018-11-01 16:09] lucventurini commented on #124
Dear @sagnikbanerjee15 ,
                                                thank you for reporting the bug. I can reproduce it on the development branch of Mikado. I will look into it ASAP.

Many apologies for the late reply, this year I have been in the process of moving cities and getting married, which unfortunately meant I did not see this bug until now.

[2018-11-01 16:19] lucventurini commented on #124
Dear @sagnikbanerjee15 ,
                                             the bug is caused by an empty / invalid "plants.yaml" file within your working directory. Removing it should negate the bug.

I will work on the bug so that it is solved by the next release.

[2018-11-01 16:37] lucventurini commented on #128
Dear @anishdattani ,
                                      sorry for the late reply. I was inspecting your guide and I am not understanding an important point - did you derive the TransDecoder ORFs from the mikado_prepared.fasta file? Looking at the mikado serialise line, it would look like you used the input files to Mikado for that step. However, that would break the link with the transcripts, a

[2018-11-02 14:37] lucventurini commented on #124
Dear @sagnikbanerjee15 ,
                                                 the bug is now fixed and will be absent from the next release of Mikado (1.3).

Thank you for reporting it, and apologies again for the late response.

Kind regards

[2018-11-02 14:37] #124 closed

[2018-11-02 16:50] sagnikbanerjee15 commented on #124
Thank you @lucventurini for your help.

[2018-11-02 17:22] lurebgi commented on #140
Adding the patch solved the problem, thank you!
Best regards, Luohao

On Fri, Nov 2, 2018 at 4:24 PM Luca Venturini <notifications@github.com>
wrote:

[2018-11-02 18:43] lucventurini commented on #140
Dear Luohao,
                        Excellent to hear! Please let me know of any other problems or bugs you might encounter.

Kind regards

Luca Venturini

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Luohao Xu <notifications@github.com>
Sent: Friday, November 2, 2018 6:34:41 PM
To: EI-CoreBioinformatics/mikado
Cc: Luca Venturini (EI); Assign
Subject:

[2018-11-05 12:18] lucventurini opened #141 "Directed selection for mikado prepare"
Currently, in Mikado prepare, we perform two checks that might end up discarding transcripts:

1- a redundancy check, which will throw away multiple copies of transcripts regardless of their origin
2- a requirements check, which will throw away transcripts if they fail some basic checks.

Both steps are good and necessary, however, they need to be tweaked as follows:

1- during the redundancy chec

[2018-11-05 12:20] lucventurini opened #142 "Smarter transcript padding"
At the moment Mikado performs a relatively stupid expansion: it checks whether the end of the other transcript is downstream of the one we are observing, and if it is, it will just expand the transcript until the end. However, this means crossing all the potential introns downstream, and therefore, result in a transcript with one or more retained introns (by definition).

There are four broad case

[2018-11-05 16:14] lucventurini commented on #142
The functionality is here, however, I should add some tests to make sure that we have covered at least all the basic cases.

[2018-11-06 12:51] lucventurini commented on #141
Additionally, we should also make configure scoop up the status of a given assembly when loading from a sample sheet. Currently the functionality is implemented but not tested.

[2018-11-06 12:52] lucventurini commented on #141
"Reference" transcripts will be treated as follows during the prepare step:

- A transcript which is marked as “reference” will never have its CDS stripped
- A transcript which is marked as “reference” will never be marked for removal due to redundancy, even if there are multiple copies of it, or if other assemblies with a higher score have identical transcripts (normally only one transcript would

[2018-11-06 18:47] lucventurini commented on #142
Mikado now uses the internal interval tree of exon/intron segments to find all the overlapping segments. This should ensure that we can deal with all cases.

[2018-11-07 13:58] lucventurini commented on #142
The procedure is now as follows:

- After adding all the putative transcript events, check which ones have a score over the threshold, keep only the first N transcripts that pass this requirements (N=max_isoforms)
- If we had to discard transcripts, recalculate metrics and scores, and recheck.
- Check for retained introns. Depending on the settings, any transcript with retained introns will either

[2019-01-25 18:15] lucventurini commented on #141
This issue is now putatively solved, although tests for it need to be implemented properly.

[2019-01-25 18:15] #141 closed

[2019-01-28 11:20] lucventurini commented on #128
Closing for inactivity. Please reply to this for further reopening.

[2019-01-28 11:20] #128 closed

[2019-01-28 16:42] #97 closed

[2019-01-31 13:20] #137 closed

[2019-02-05 16:14] codeandkey opened #144 "PyPi build failure"
I'm having issues building this software from PyPi (multiple errors), here is some of the output:

[code]

there are more errors which I can include if relevant -- hopefully these provide enough information.
Thanks!

[2019-02-05 22:37] ehsansari123 opened #145 "exon_lines[row.id]["tid"] = row.transcript KeyError: None"
While running Mikado for a wheat project, I faced an error in prepare stage. Here is the prepare log file:
-------------------------------------------------------------
2019-02-05 16:06:06,913 - prepare - prepare.py:67 - INFO - setup - MainProcess - Command line: /storage/ppl/sarie/miniconda3/bin/mikado prepare --json-conf configuration.yaml
2019-02-05 16:06:07,018 - prepare - prepare.py:435 - ERR

[2019-02-12 09:38] tommathers opened #146 "Daijin bugs"
Hi,

Just noticed a couple of bugs when experimenting running mikado via daijin. I am running v1.3devel installed at EI.

When giving long read data in addition to RNAseq, daijin configure does not add a long read mapping option to the configuration file by default and I can't find a flag to add it (maybe hidden option?). This means that daijin assemble ignores the the long read data. I fixed this

[2019-02-12 09:40] tommathers commented on #146
Some of the code got a bit mixed up.

Line added to the config file for the long read mapping was:

long_read_align_methods:
 gmap:
  - ''

[2019-02-12 17:20] lucventurini commented on #145
Dear @ehsansari123,
                                    would you be able to send over the GTF as a text file, or at least the parts that are present on the screenshots? It would make debugging easier. It is most likely a problem of malformed input, but it is hard to find out where from the screenshots.

Kind regards

Luca Venturini

[2019-02-12 17:24] lucventurini commented on #144
Dear @molecuul ,
                             thank you for reporting the bug. There is something amiss with the PyPI package - it should contain the PXD files that Cython complains are missing.

While I look into the problem, I would recommend the following:

- Download the latest stable release (https://github.com/EI-CoreBioinformatics/mikado/releases/tag/1.2.4)
- Unzip/untar the contents and go

[2019-02-12 17:25] lucventurini opened #147 "ORFs from coding transcripts discarded during pick"
For some reason, coding transcripts have their ORF removed during pick and then fail to retain any if no ORF was present in the Mikado database.

The correct behaviour should be NOT to strip the ORF, especially if the database has no ORF for the transcript!

[2019-02-12 18:18] ehsansari123 commented on #145
Hi Luca,
Many thanks for taking the time to help me out. I notice that the main issue is with the output I get from mapping Trinity transcripts to genome using GMAP. I have build the GMAP database using:
$ gmap_build -D . -T . -d wheatAB -k 13 genome.fasta
and then mapped the transcript to database to get the gff3 output using:
$ gmapl -D . -d wheatAB -B 5 -t 16 -f gff3_gene -x 50 -n 0 ./path/to/T

[2019-02-12 19:50] ehsansari123 commented on #145
Hi Luca,
The run goes on OK in prepare stage with several errors in prepare logs. Just thought It could help you figure out the issue.
Thanks
Ehsan
-----------------------
2019-02-12 13:39:57,275 - prepare - prepare.py:67 - INFO - setup - MainProcess - Command line: /storage/ppl/sarie/miniconda3/envs/MIKADO/bin/mikado prepare --json-conf configuration.yaml
2019-02-12 13:41:20,255 - Checker-4 - fin

[2019-02-13 11:21] lucventurini commented on #147
False alarm. This behaviour actually does NOT happen. Closing.

[2019-02-13 11:21] #147 closed

[2019-02-13 11:44] lucventurini commented on #145
Dear @ehsansari123,
                                      using format 3 (gff3_match_cdna) should return a Trinity alignment which will be parsed correctly by Mikado.

Alternatively, you can have Mikado stripping the CDS automatically from Trinity transcripts (which I would recommend to do anyhow), just add "--strip-cds" to the command line.

I hope this helps.

Kind regards

[2019-02-13 15:03] lucventurini opened #148 "Have Mikado pick realise that "reference" transcripts should not be summarily excluded"
Currently, "reference" transcripts are passed-through by Mikado prepare, but their special status is ignored from that point onwards.

Fixing this issue requires Mikado to:

a- mark clearly reference transcripts in the "prepared" GTF
b- ignore the "requirements" check during Mikado pick.

[2019-02-13 15:38] ehsansari123 commented on #145
Hi Luca,
I changed the format and it worked. Thanks a lot for your kind supports.
Cheers!
Ehsan

[2019-02-13 19:20] cschu opened #149 "Installation troubles -- EI internal issue"
Just making a note of this here:

Following the installation procedures as given in the README (python setup.py test, python setup.py bdist_wheel, pip3 install dist/*whl [with --prefix option]) appears to result in numpy and sortedcontainers missing from the base python (python_anaconda-5.2.0_py3.6_cs), which in turn causes versions 1.3devel and 1.2.4 to fail (but not the latest version as cloned

[2019-02-15 13:16] lucventurini commented on #149
Hi Christian,
                    performing the installation with

$ pip install --prefix=$PREFIX -U --upgrade-strategy="only-if-needed"

*could* solve the problem.

Best

[2019-02-15 15:17] lucventurini commented on #149
Confirmed the fix. I installed "git_20190215" with the above command, and numpy was **not** removed from the general directory.

[2019-02-15 17:29] cschu commented on #149
Thanks, Luca, will do that in the future. I still think we should consider containering installations at some point.

[2019-02-18 09:49] lucventurini commented on #149
Hi @cschu , I am writing up a Singularity recipe for installing Mikado. It should be in the master trunk within the morning.

I would advise to use it for production releases only though, as I am modifying the current "git" installations on the fly to triage and solve small bugs that are cropping up while adding features.

Best

[2019-02-18 14:39] lucventurini commented on #145
Dear @ehsansari123 ,
                                      not a problem, it has been a pleasure!
I will close the issue as it is now resolved.

[2019-02-18 14:39] #145 closed

[2019-02-19 11:02] lucventurini commented on #146
Hi @tommathers ,
                              thank you for reporting this. We actually stopped developing Daijin at the moment as we are devoting energies for a new pipeline (https://github.com/EI-CoreBioinformatics/ei-annotation).
I will noentheless have a look at what you reported and try to fix it before the next release of Mikado.

[2019-02-19 16:29] #149 closed

[2019-02-20 16:18] lucventurini opened #150 "Bug in blast_utils: incorrect merging of intervals"
The function __calculate_merges in Mikado.parsers.blast_utils is buggy. We refactored the function to use numpy (rather than a slower, pure python version) but in so doing we created a version of the function that can be led astray. Specifically, the bug is triggered when there is an interval contained within, e.g.:

[(10, 1000), (150, 800), (950, 1200)]

This would have led Mikado to create a mer

[2019-02-20 17:23] lucventurini commented on #150
The merging function was just the tip of the iceberg. Apparently also the function which calculates exactly which residues are identical, positive matches, or skipped, is broken.
This will require some more involved fixing, and is definitely high priority.

[2019-02-21 14:02] lucventurini commented on #142
Solved after confirmation by @swarbred

[2019-02-21 15:10] lucventurini commented on #150
Fixed in f7fb5b5. Closing.

[2019-02-21 15:10] #150 closed

[2019-02-28 12:28] #148 closed

[2019-03-01 15:55] fmarletaz opened #152 "bed usage?"
Thanks for developing mikado, really useful tool!  I have a question, I tried to use a bed an input (in `list.txt`) from minimap2 converted with paftools, but I the following error at the `configure` step:
[code]

Thanks

Ferdi

[2019-03-01 16:02] lucventurini commented on #152
Dear @fmarletaz , thank you for your interest in the tool! I think that the problem is that Mikado usually requires BED files to have the extension ".bed12" rather than ".bed". Would you please be able to retry and confirm? Otherwise, I will have to dig into the code a little bit.
If that is the case, I might change the default behaviour to accept ".bed" files as well.

[2019-03-01 16:09] fmarletaz commented on #152
Just tried, still throw an error. The full error:
[code]

The bed file looks normal:
[code]

Another question incidentally, have you considered writing a tool to use mikado models to add UTRs to existing gene models (e.g. derived from AUGUSTUS), that would avoid having to run PASA, which is never easy...

Thanks!

[2019-03-01 16:22] lucventurini commented on #152
Dear @fmarletaz , we are developing at the moment a pipeline to do so, stay tuned on the Augustus front!

Regarding the file type, this looks like a bug. I will have a look into it, most probably early next week though. Thank you for reporting this!

[2019-03-01 21:15] lucventurini commented on #152
Dear @fmarletaz ,
                              I think there might something wrong in the file list that you give in to Mikado. Would you be able to attach a copy here please?
I will make sure that the error will be more explicative in the next release of Mikado.

[2019-03-03 05:49] fmarletaz commented on #152
Dear Luca,
Thanks! I realized that my some space replaced the tabs in my file list, which was causing likely the first error. However, now, I got an error at the prepare stage :
`2019-03-03 14:13:35,852 - prepare - prepare.py:435 - ERROR - prepare - MainProcess - 'BED12' object has no attribute 'transcript'`.  Thanks again for your help!

[2019-03-04 10:02] lucventurini commented on #152
Dear @fmarletaz,
                              unfortunately the error is a but too cryptic for me to trace the bug (my fault, Mikado should report the error better). I think it might be due to the formatting of the BED file. While I try to understand where it originated from, I would offer the following possible solutions, in recommendation order:

1- In the pipeline we are developing, there is [

[2019-03-05 03:42] fmarletaz commented on #152
Great, thanks for your support, I will try. I actually in the meantime realigned with gmap to get gtf, but I will definitely try these scripts.

On March 4, 2019 at 19:02, Luca Venturini wrote:

[2019-03-08 15:54] lucventurini opened #153 "Massive decrease in performance due to order of operations in Transcript.__getattribute__ and multiple redundant calls to isinstance"
Although this looks like a trivial issue, it accounts for almost half of the time spent by Mikado in e.g. calculating statistics. In general this results in enormous speed decreases.

[2019-03-08 15:56] #153 closed

[2019-03-08 15:57] lucventurini commented on #152
Dear @fmarletaz , any update?

[2019-03-13 10:37] lucventurini opened #154 "Overloading __getattribute__ in Transcript causes a massive slowdown"
After testing, I realised that overloading the __getattribute__ method causes a massive slowdown in basically the whole program. This is because the Transcript class is practically ever-present, and overloading the base method causes a massive slowdown in **everything**, from the comparison, to the statistics, to any core functionality. I am now testing whether removing the overloading causes prob

[2019-03-14 16:10] lucventurini opened #155 "Add current scoring files to the next release"
We have used multiple different configuration files throughout the years, we should provide them within Mikado as well.

[2019-03-14 17:10] cschu opened #156 "Fix Loader-less yaml.load() calls"
/usr/local/conda/lib/python3.6/site-packages/Mikado/configuration/configurator.py:505: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  scoring = yaml.load(scoring_file)

[2019-03-14 18:48] lucventurini commented on #156
OK, I will fix it for 1.5!

[2019-03-14 22:05] #156 closed

[2019-03-18 19:44] Tierhon opened #157 "Wrong attributes after converting from BAM"
Dear Luca,
I have mapped some IsoSeq3 transcripts with minimap 2, and have converted the BAM file to GTF with this script:
https://github.com/EI-CoreBioinformatics/mikado/blob/master/util/bam2gtf.py

When running mikado prepare, I get a lot of these errors:
`Wrong attributes (['"']) in line:
LG01    bam2gtf transcript      673836  675790  60      -       .       gene_id "transcript/26892.gene"; tr

[2019-03-18 20:09] lucventurini commented on #157
Dear @Tierhon,
                             Thank you for reporting this issue. I think I might have fixed it already today, as I was working specifically on this part of the code (see e41122d8). We might be able to verify the fix in two ways:
- if the data is not confidential, you could send me a small subsection of the Bam, so that I can check directly
- alternatively, you could install the soft

[2019-03-19 10:48] Tierhon commented on #157
Dear Luca.

I am feeling really stupid right now. I cloned the git repository, and installed it by
`python3 setup.py test;
python3 setup.py bdist_wheel;
pip install dist/*whl`

This was done with in a miniconda3 environment. But, where is the binary? The mikado file that drives the procedures. I can't find it anywhere, and there does not seem to be any apparent issues in the installation.

Ole

[2019-03-19 14:16] lucventurini commented on #157
Hi Tierhon,
                    the binary should have been installed in your PATH - ie inside the Miniconda3 folder.
You should be able to test this by doing:
[code]

Best
Luca

[2019-03-19 15:19] lucventurini commented on #152
Closing for now, to be reopened if new information becomes available.

[2019-03-19 15:19] #152 closed

[2019-03-19 15:22] lucventurini opened #158 "Remove unused parameters from the configuration file"
Currently the configuration file has a little bit of legacy flags.
One such flags, for example, is "strand_specific" under the "prepare" section.
Ideally, we should clean up the file to make sure that such legacy parts do not engender confusion in the user.

[2019-03-19 18:02] Tierhon commented on #157
Hmm, something went wrong somewhere. I am sorry. I get this result:
`Python 3.6.7 | packaged by conda-forge | (default, Feb 20 2019, 02:51:38)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'Mikado' has no attribute '__version__'`

I can send you the `python

[2019-03-20 14:13] lucventurini commented on #157
From the mail thread: the problem is that there are some attributes in the GTF which contain, **wrongly**, the character ";" within. This confuses the parser and causes the problem.
To be fixed ASAP.

[2019-03-20 17:18] lucventurini opened #159 "Mikado util stats broken"
This is due to the changes introduced in 485d10df, which should have made the utility more performant but actually inadvertently broke it. I had not realised before because I was testing only on *non-coding* files.
To be fixed ASAP.

[2019-03-20 18:06] Tierhon commented on #157
Great! Thank you.

[2019-03-21 19:57] #157 closed

[2019-03-21 20:03] lucventurini commented on #157
Dear @Tierhon , the problem should now be fixed. Please let me know!

[2019-03-22 06:29] Tierhon commented on #157
I had no issues loading these files now. Thank you!

[2019-03-22 09:32] lucventurini commented on #157
Excellent! And thanks to this issue, I should also have fixed the problems with `python setup.py test`. So double progress :-)

[2019-03-22 13:59] Tierhon opened #162 "Require SQLAlchemy 1.3"
Hi again,
if I read this correctly you are using a function (here at least: https://github.com/EI-CoreBioinformatics/mikado/blob/2951e46d02bf3c62b9d673399d0bf674179bc605/Mikado/loci/superlocus.py#L662) which is new in SQLAlchemy 1.3: https://docs.sqlalchemy.org/en/latest/orm/session_api.html#sqlalchemy.orm.session.close_all_sessions.

I guess you can change requirements to 1.3 instead of 1 as it i

[2019-03-22 14:30] #162 closed

[2019-03-22 14:30] lucventurini commented on #162
Done, thanks!

[2019-03-25 00:11] lucventurini opened #163 "Add non redundant intron chain and splice site statistics to mikado compare"
These two statistics would be helpful when assessing eg Nanopore reads.

[2019-03-25 09:24] #163 closed

[2019-03-26 15:50] mndavies286 opened #164 "Docker image error"
Hi

I seem to be having a similar issue to another user. When I run the cyverseuk/mikado mikado configure option in Docker on the sample data, I get the error below. Could you suggest what the issue might be

BW

Matt

2019-03-26 15:47:57,134 - main - __init__.py:124 - ERROR - main - MainProcess - Mikado crashed, cause:
2019-03-26 15:47:57,134 - main - __init__.py:125 - ERROR - main - MainProcess

[2019-03-26 15:53] lucventurini commented on #164
Hi @mndavies286 , thank you for reporting, I will have a look.
In the meantime, I can tell you that the Singularity recipes functions properly, if that can be a valid alternative.

[2019-03-26 16:26] aliceminotto commented on #164
It may be because I haven't updated cyverseuk/mikado in over 10 months, so it's *some* releases behind this repository. It's not built from the dockerfile in this repo either.

[2019-03-26 17:48] mndavies286 commented on #164
Hi, thank you for your rapid responses.

I've built a new image from the current Docker file and that seems to have solved the problem. Thanks for your help.

Matt

[2019-04-01 10:38] #164 closed

[2019-04-01 13:56] #159 closed

[2019-04-02 09:11] lucventurini opened #166 "Improvements to Mikado compare"
Mikado compare has been going under a number of revisions for 1.5. Specifically:
- added multiprocessing
- added the ability of analysing BAM predictions (for e.g. Nanopore alignments)
- Internally, the cython routine now compares C-level interval trees rather than Python-level sets - increasing speed and allowing for more refined matching. Specifically:
  - added the possibility of specifying a "

[2019-04-02 14:10] mndavies286 opened #167 "Running class2 in docker"
Hi

I'm running the Docker mikado image successfully, I just wanted to ask what is the command to run the class2 package in the docker image.

e.g. what is the equivalent of  'docker run mikado scallop' but for class2?

Best wishes

Matt

[2019-04-02 16:02] lucventurini commented on #167
Hi @mndavies286 ,
                                 I think that the latest version of the Docker file actually has unfortunately neither scallop nor CLASS2 inside it.

[2019-04-02 20:47] mndavies286 commented on #167
Okay, I think I was using this version from a few days ago.

https://github.com/EI-CoreBioinformatics/mikado/blob/issue-158/Dockerfile.centos

[2019-04-02 22:11] lucventurini commented on #167
That one should function with

`docker run mikado class `

Or if you want the wrapper I wrote

`docker run mikado class_run.py`

I hope this helps.

Luca

[2019-04-03 08:09] mndavies286 commented on #167
That's great. Thank you, Luca

[2019-04-03 08:09] #167 closed

[2019-04-03 09:06] lucventurini commented on #154
Fixed, tested by @gemygk. Closing.

[2019-04-03 09:06] #154 closed

[2019-04-03 09:41] swarbred commented on #166
@lucventurini looks like you added the redundant / non-redundant option for introns, I see you made some additional changes yesterday. Is this in a state we should test/use or should we hold off for now i.e. if you were planning to make further changes shortly.

[2019-04-03 11:13] lucventurini commented on #166
I am still making changes, please hold off for now. I need to verify that the multiprocessing is implemented correctly.

I will let you know when it's ready to be trialled!

[2019-04-03 17:57] lucventurini commented on #166
After verifying with junctools, it is apparent that junctions statistics need to be heavily investigated. This takes priority.

[2019-04-04 18:58] lucventurini commented on #166
Hi @swarbred, the latest commit in issue-166 should be ready for testing. The only outstanding part missing is making sure that the statistics for the introns are not taking into account the fuzziness.

Memory usage should be **much lower** now as I make full usage of the sqlite database rather than preloading the full index in memory. This is particularly important for multiprocessing.

Please te

[2019-04-05 18:46] lucventurini commented on #166
The commits from today modify somewhat the Cython classes and utilities that underpin Mikado compare. At the moment the laundry list looks like this:

-  multiprocessing has increased the memory usage, most probably because data is held in memory before being returned to the main process. This has to be fixed before release
   This should be **fixed**
- The "fuzzy matching" only functions at the l

[2019-04-17 06:58] lucventurini commented on #166
A problem with multiprocessing is the high amount of memory required and the long startup time. This in turn is due to preloading the index in memory for each subprocess.

This strategy is quite slow and wasteful, especially for long indices. A better method is required.

[2019-04-17 15:17] lucventurini commented on #158
Hi @swarbred , @gemygk ,
                                             the configuration file should now be simplified.
If you could have a look at how it looks like to you, I could get this issue closed.

[2019-04-17 22:21] lucventurini opened #168 "Switch to msgpack instead of ujson"
This would allow to get away completely from pickle (still used within mikado compare). Moreover, msgpack is well maintained, whereas ujson has not been updated since 2017.

[2019-04-18 01:13] lucventurini commented on #168
Closing for now, as msgpack has been successfully used for compare. I might come back to it for the other steps in the pipeline.

[2019-04-18 01:13] #168 closed

[2019-04-29 07:11] xiaoaozqd opened #169 "how to set the pacbio iso reads for daijin configure"
1. how to set the pacbio iso reads for sample_sheet.tsv used in daijin configure? just the fastq file transfer from the raw bam file or the all_quivered_hq_lq.fastq file output by isoseq3?
2. when both illumina and pacbio input to daijin, wether the setting of my sample_sheet.tsv is right?

`B33-3_1.clean.fq.gz	B33-3_2.clean.fq.gz	B33-3	fr-unstranded	False
hq_lq_quivered.fastq		pacbio	fr-unstrande

[2019-04-30 16:28] mndavies286 opened #171 "mikado serialise issue"
Hello, I'm trying to run mikado serialise within nextflow with the command:

mikado serialise --json-conf configuration.yaml --xml mikado.blast.xml.gz --orfs mikado.bed

However, I'm getting an error message that I don't understand, could you tell what database is it referring to here.

Command error:
    File "/usr/local/conda/envs/python36/lib/python3.6/site-packages/sqlalchemy/pool/base.py", li

[2019-04-30 21:07] lucventurini commented on #171
Dear @mndavies286 ,
                                     from what I can understand from the long, Mikado seems not to be finding the correct database to use to store the serialised information. This is odd, as Mikado should have a default fallback for this situation. Would you please be able to attach here the configuration.yaml file?
I am mostly interested in the "db_settings/db" section of the

[2019-04-30 21:13] lucventurini commented on #169
Dear @xiaoaozqd ,
                               apologies for the late reply.
Samples are specified in the sample sheet file, which is a tabular file of the following form:

`Read1 <TAB> Read2 <TAB> SampleName <TAB> Strandedness <TAB> IsLongRead`

For more details, please see [the documentation](https://mikado.readthedocs.io/en/latest/Tutorial/Daijin_tutorial.html?highlight=daijin#step-1-configur

[2019-04-30 21:19] mndavies286 commented on #171
Thank you, Luca. I've attached the yaml file. The same docker image runs fine locally so I assume it's something to do with running it within the nextflow environment.

[configuration.yaml.txt](https://github.com/EI-CoreBioinformatics/mikado/files/3133172/configuration.yaml.txt)

[2019-04-30 21:36] lucventurini commented on #171
Dear @mndavies286 ,
                                       within the YAML file the database was set up as "db: /tmp/nxf.GzRtYngwMj/mikado.db". I imagine that the folder was set up as a "work" folder by nextflow and deleted before the database was actually populated. This has probably something to do with how nextflow managed the "mikado configure" step.

I personally prefer Snakemake to Nextflow

[2019-05-02 08:46] zebrafish-507 opened #172 "Mikado.test() fails: how to resolve the "sqlite3.OperationalError: disk I/O error""
I installed mikado and all the dependencies using anconda. I tested the installed modules by:

The error message I always got is:
">>> import Mikado
/newlustre/home/longyong/anaconda3/lib/python3.6/site-packages/Mikado/configuration/configurator.py:529: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load fo

[2019-05-02 11:10] lucventurini commented on #172
Dear @zebrafish-507,
                                    thank you for using our program and for reporting this bug. From a quick search, the problem that you are encountering seems to be something that could happen on NFS systems, although to be honest, I have not seen it happening on our cluster environments.
In any case, I will add a try-except clause to this to avoid the locking.

[2019-05-02 11:23] lucventurini commented on #172
Dear @zebrafish-507 , I have uploaded the potential fix in the latest commit in the development branch (6113045). If you could please test it, I would be able to confirm the fix.

[2019-05-02 13:20] xiaoaozqd commented on #169
Dear Lica,
Thank you very much for your reply! I have set the sample sheet file:
cat -T sample_sheet.tsv
B33-3_RRAS17798-V_1.clean.fq.gz^IB33-3_RRAS17798-V_2.clean.fq.gz^IB333^Ifr-unstranded^IFalse
hq_lq_quivered.fastq^I^Ipacbio^Ifr-unstranded^ITrue

I still have two problems:
1. which fastq file should be used, the fastq file transfer from the raw bam file or the all_quivered_hq_lq.fastq file out

[2019-05-02 13:48] zebrafish-507 commented on #172
Thanks! @Luca,
I replaced the old compare.py and dbutils.py files with the new ones, where should I put the setup.cfg file. There was no folder named "mikado" in the path.

[2019-05-02 14:11] lucventurini commented on #172
Dear @zebrafish-507,
                                    the setup.cfg should not be necessary for your user case. **Please use the anaconda version of compare.py**, I have worked extensively on that part of the code since I uploaded the latest version to Anaconda, the new one most probably will break all sorts of stuff! Apologies for having lumped that file as well into the commit.

I hope the ne

[2019-05-02 15:17] zebrafish-507 commented on #172
Dear @lucventurini,
I re-installed Mikado and ran the test. The I/O error still existed. See blow for the error message:

dbapi_connection = <sqlite3.Connection object at 0x7fd79b4bff10>
connection_record = <sqlalchemy.pool.base._ConnectionRecord object at 0x7fd789580dd8>

    @event.listens_for(Engine, "connect")
    def set_sqlite_pragma(dbapi_connection, connection_record):
        cursor = dba

[2019-05-02 15:36] lucventurini commented on #172
Dear @zebrafish-507 , would the error persist if you installed only the updated `dbutils.py` file from the previous commit? That file contains the patch.

Kind regards

[2019-05-03 03:01] zebrafish-507 commented on #172
Dear @lucventurini,
I re-installed mikado by git clone and by downloading the 1.3beta version, but the I/O error was always encountered. It said like this:
..2019-05-03 10:54:50,548 - main - __init__.py:124 - ERROR - main - MainProcess - Mikado crashed, cause:
2019-05-03 10:54:50,548 - main - __init__.py:125 - ERROR - main - MainProcess - (sqlite3.OperationalError) disk I/O error
(Background on th

[2019-05-03 08:55] lucventurini commented on #172
Dear @zebrafish-507, apologies for not being clear enough in the previous message.

The fix is present in the development branch of my personal fork (https://github.com/lucventurini/mikado), specifically this file:

https://raw.githubusercontent.com/lucventurini/mikado/development/Mikado/utilities/dbutils.py

There are two options:
- install the github development version from the fork. I have mad

[2019-05-04 00:28] zebrafish-507 commented on #172
Dear @lucventurini,
I re-installed mikado according to your instructions, but couldn't resolve the problem as well. It is possible that there are some problems with our disk. I'll ask our manager for help. Thanks a lot.
Best,

[2019-05-09 08:26] lucventurini opened #173 "Make clear that deleting a value from the configuration resets it to the predefined default"
This could be a bit confusing for people, as they might expect that the default value is 0.

Potentially adding a comment with the default value when printing out the configuration file would be useful as well.

[2019-05-09 13:36] lucventurini commented on #172
Dear @zebrafish-507 ,
                                       I have had a long look at unit-tests today. I am not sure it is your case, but the bug you triggered might have been a case of Mikado trying to overwrite some of the installation files when doing the tests. I should have now fixed the issue - I was testing for exactly such a scenario. Potentially this could solve your issue as well (alth

[2019-05-09 13:52] lucventurini commented on #171
Dear @mndavies286 ,
                                     any update on your NextFlow test?
Kind regards

Luca Venturini

[2019-05-09 17:31] cschu opened #174 "EI:Internal mikado compare dies trying to treat an int-value with __getitem__()"
Debug information below. This worked fine with a 1.5 version from <20th February (unfortunately we didn't have a show_commit_hash back then), contained in /ei/software/testing/gmc/dev/x86_64/mikado.simg

**cwd:**
/ei/workarea/group-pb/schudomc_sandbox/gmc_dev/testdata_MAZ

**command line:**
singularity exec /ei/software/testing/mikado/20190325_c940de1/x86_64/mikado-20190325_c940de1.simg mikado com

[2019-05-09 20:10] lucventurini commented on #174
Thanks for reporting, I will have a look at it ASAP!

[2019-05-09 22:24] lucventurini commented on #174
Hi @cschu ,
                       actually this might have already been solved some time ago, you are testing with an old version of the code (you can berate me for coding so much another time!). You can try the latest version (mikado-20190509_2e86e93), hopefully the bug has already been fixed.

[2019-05-09 23:34] cschu commented on #174
Thanks @lucventurini, I'll try that tomorrow.

On Thu, May 9, 2019 at 11:24 PM Luca Venturini <notifications@github.com>
wrote:

[2019-05-10 16:52] rob123king opened #175 "IndexError: list index out of range"
My gff passes gff validation using gt tools but its failing at mikado compare line somewhere. Any idea how I debug what is wrong with my file for mikado compare?

[code]

[2019-05-13 09:39] lucventurini commented on #175
Dear @rob123king ,
                                 thank you for reporting this bug. I suppect that the bug is triggered by some transcripts having partly-mangled UTR or CDS features. GenomeTools does not detect such instances as invalid, whereas Mikado does. E.g. in the mock GFF3 that I attach([test.gff3.txt](https://github.com/EI-CoreBioinformatics/mikado/files/3172188/test.gff3.txt)), transcri

[2019-05-13 10:46] lucventurini commented on #175
Dear @rob123king ,

please see the changes in Mikado/transcripts/transcript_methods/finalizing.py implemented in b643c8e3e. To test whether this allows Mikado to report correctly on the issue in the log, you could either install the program from the development branch or patch the relevant file.

I hope this helps.

[2019-05-16 11:18] gemygk opened #176 "Mikado self comparison error - unexpected keyword argument 'fuzzymatch'"
Hi Luca,

I am getting an error when I do Mikado '--self' comparison. I am getting the same error even with our previous stable installation - mikado-20190325_c940de1.

Can you please have a look?

[code]

Best,
Gemy

[2019-05-16 13:06] lucventurini commented on #176
Hi @gemygk ,
                         many apologies for this, as I changed quite a lot of things under the hood, I kinda left the self-comparison in the dust while I experimented with different parts. I will strive to make Mikado self-compare functional again ASAP.

[2019-05-16 13:07] lucventurini commented on #174
Hi @cschu ,
                      did you confirm whether the issue is fixed in more recent developments?

[2019-05-16 13:08] lucventurini commented on #172
Dear @zebrafish-507 ,
                                        any news on this front?

[2019-05-16 13:08] lucventurini commented on #171
Closing for now, to be reopened in case of updates.

[2019-05-16 13:08] #171 closed

[2019-05-16 13:59] zebrafish-507 commented on #172
Dear @lucventurini,
Sorry. I couldn't address this issue by reinstalling mikado. Our system manager had no idea about this I/O error as well. I'm wondering if mikado can work well with real data despite of this test error.

[2019-05-16 15:24] lucventurini commented on #172
Dear @zebrafish-507,
                                        A way to test it is to install, then clone from github, go into sample_data, and launch snakemake. The mini test pipeline will also need diamond and prodigal to be installed.
If that functions, it's probably some kind of obscure error in the tests, that I'm trying to catch and fix but that will not affect the program.

[2019-05-17 06:11] lucventurini commented on #175
Dear @rob123king, any luck with the patched software?

[2019-05-17 13:05] lucventurini commented on #142
As noted by @gemygk and @swarbred:
- "ts_max_distance" should refer to the ***cDNA*** distance, not the genomic distance.
- "Reference" transcripts are not considered in any particular way for the AS machinery. That means that they will always pass the requirements checks, but they might **not** be passing the requirements for ASEs. ***This should be made clear in the documentation.***

[2019-05-17 13:25] lucventurini commented on #142
As an addendum, transcripts should *not* be expanded if the boundary of the expandable transcript ends **within a intron**. In these cases both expansion options (ie creating a false intron or creating a massive exon) are non-desirable. So we should disable this.

[2019-05-20 01:13] cschu commented on #174
Hi @lucventurini,

It seems to be fixed for mikado compare, but not for mikado pick:

Mikado version/container:  /ei/software/testing/mikado/20190513_8134a3c/x86_64/mikado-20190513_8134a3c.img

CWD: /ei/workarea/group-pb/schudomc_sandbox/gmc_dev/testdata_MAZ

mikado pick log: gmc_run7/hpc_logs/20190517_151345gmc_mikado_pick21202571_t128n8.slurm.log (first exception see below)

Error occurs with an

[2019-05-20 08:21] lucventurini commented on #174
Hi @cschu ,
                     thanks for reporting. This is a similar type of bug but in a completely different section of the code, hence I am not surprised it was not fixed by my updates. I will have a look as soon as I can.

[2019-05-20 10:38] lucventurini commented on #142
@swarbred @gemygk

# Refining the padding: a complex case

I am revising the algorithm for the padding. I have *already* added the part that will make aware Mikado of where a transcript ends (see 0b64818f615efe5562f93dac6cda31962c9298c1). The problem is that there ambiguous cases that need to be handled in a deterministic manner. Specifically:

[code]
In this case:
- T1 is the only expandable tran

[2019-05-22 09:49] lucventurini commented on #174
Hi @cschu ,
                      I think that the problem might be that the external metrics have not been specified with an "external." string. I cannot verify this at the moment because I am shut out of the NBI cluster. You can try to modify the file `Mikado/loci/abstractlocus.py` in this way at line 1213:

[code]

becomes:

[code]

This should give us some pointers to the problem. I cannot upd

[2019-05-23 15:35] swarbred commented on #142
@lucventurini the alternative would be that where you have multiple compatible transcripts which could be used for extension that first you check and eliminate options that would not meet ts_max_distance and ts_max_splices requirements and then of the remaining take the highest scoring transcript, if there is a tie I would be fine with any way of splitting this.

If I was manually annotating your

[2019-05-23 16:47] lucventurini commented on #176
Hi @gemygk , I should have fixed Mikado compare self (and internal) now.
The changes are in the development branch. Soon I hope to merge it back to master.

[2019-05-23 16:47] #176 closed

[2019-05-23 16:51] lucventurini commented on #142
Hi @swarbred,
                        currently we are dealing with this in a way which is suboptimal, which basically ended up having a random choice. Moreover, as I was storing only the connection between two transcripts (so t1 <=> t4, not the direction, e.g. t1 => t4) I ended up having a hodgepodge. This was fine when the relationship was very linear (ie only expanding based on genomic coordina

[2019-05-26 03:06] shenweima opened #177 "can mikado serialise use multi-CPU?"
I have a orf bed file containing 141655528 lines. I found it is very slow and mikado serialise only use single CPU when import data to sqlite3 db. ca this step use multi-CPU?
This is my command
`mikado serialise -p 12 --start-method spawn --json-conf configuration.yaml --xo_prepared_blastx.xml.gz --orfs mikado_prepared_orfs.bed --blast_targets /data2/user_data/blastx/plant_protein.fa --max_target_

[2019-05-26 14:35] lucventurini commented on #177
Dear @shenweima,
                                   Unfortunately no. I have only ever imported BED files that are much smaller than that, so that that section never posed too much of a problem. Internally, mikado will check each BED entry against the corresponding transcript (hence trying to check whether the orf is complete, whether it would be advisable to shrink it to find a Met codon). That,

[2019-05-26 14:36] lucventurini commented on #174
Update: the problem is caused by mikado not finding the correct external metrics in the database, and crashing. Fix under way.

[2019-05-26 14:37] lucventurini commented on #175
Closing for now.

[2019-05-26 14:37] #175 closed

[2019-05-26 15:49] shenweima commented on #177
Thanks.  Actually, I had two thousands RNA-Seq data, I had ran mikado pipeline about half years.

[2019-05-28 12:51] lucventurini commented on #166
Currently, the only outstanding issue is the following:
- The "fuzzy matching" only functions at the level of the single match, but not at the level of the final statistics. This might engender confusion.

[2019-05-29 09:58] #155 closed

[2019-05-31 11:59] lucventurini commented on #174
@cschu now Mikado pick will **require** a database to proceed. It should also try hard to find the database if needed.
This should avoid a repeat of the first bug.

[2019-06-03 16:54] lucventurini commented on #142
Hi @swarbred , @gemygk , after e1b204d, now the padding should be fixed.
As written above, now ties will be decided by the scoring.
Although I have tried to test properly within the test suite, the best way will be to try it out on real data.

[2019-06-05 12:56] lucventurini commented on #172
Closing for the time being.

[2019-06-05 12:56] #172 closed

[2019-06-06 18:09] lucventurini commented on #142
Currently the CDS padding is **broken**. To be fixed ASAP.

[2019-06-06 18:10] lucventurini commented on #174
Tested by @cschu, I think at it can be safely closed for now.

[2019-06-06 18:10] #174 closed

[2019-06-06 18:10] #106 closed

[2019-06-06 18:10] #90 closed

[2019-06-06 18:12] lucventurini commented on #177
Moving this issue to the next release. I fully intend to fix this, but unfortunately it cannot hold the very belated version 1.5. I will dedicate myself to it as soon as possible.

[2019-06-06 18:14] lucventurini commented on #166
Moving the last point to the next release. Closing this issue.

[2019-06-06 18:14] #166 closed

[2019-06-07 09:46] swarbred commented on #158
Seems ok, we will need to likely change the following

    ts_distance: 300
    ts_max_splices: 1

to perhaps

    ts_distance: 1000
    ts_max_splices: 2

but can be confirmed once we have the padding finalised

I believe the values below are not used by Mikado but rather by Daijin, can we add a comment to indicate how they are used.

reference:
  genome: genome.fa
  max_intron: 4500000
  min_int

[2019-06-07 12:47] lucventurini commented on #158
Hi @swarbred ,
                          I changed the default values to:
[code]

for the time being. Regarding this:

[code]

"genome" is used by Mikado itself.
"max_intron" and "min_intron" are **not** present in the Mikado configuration file now. I suspect they are present in the ones of GMC because they are in the `external.yaml` file provided by @cschu . @cschu , could you confirm that you cr

[2019-06-07 16:33] cschu commented on #158
Yes, the external.yaml to drive GMC was made a long time ago. Must have taken it from the Melia Azaderach or Quillaja saponaria annotation (just like any other input for the GMC tests).

[2019-06-07 17:05] lucventurini commented on #158
Great. As this is the case, I will close the issue.

[2019-06-07 17:05] #158 closed

[2019-06-07 17:05] #173 closed

[2019-06-10 09:04] gemygk opened #181 "mikado 20190606_6c8d542 serialise ValueError: Invalid frame specified"
Hi @lucventurini,

Looks like there is an issue at Mikado serialise stage when using prodigal gff. I also got this error for an earlier Mikado stable commit - mikado-20190325_c940de1, which we are using for the wheat accessions.

Please see below the error and logs.

CMD:
[code]
WD:
[code]
ERROR:
[code]

When I look at the line with id '38_4' (see below, taken from prodigal output - mikado_prepare

[2019-06-10 09:40] lucventurini commented on #181
Hi @gemygk,
                       I will have a look immediately.
Thank you

Luca

[2019-06-10 09:49] lucventurini commented on #181
Hi @gemygk ,
                        update: the bug is triggered because Prodigal found a **GTG** start, and Mikado normally only considers **ATG** as a valid start (although this can be controlled). The bug is triggered because I fixed the start finding on the **positive** strand but not the negative one.
I am pushing the fix now.

[2019-06-10 11:01] cschu commented on #181
Where are you pushing it to?

On Mon, Jun 10, 2019 at 10:49 AM Luca Venturini <notifications@github.com>
wrote:

[2019-06-10 11:01] cschu commented on #181
94160dd
<https://github.com/lucventurini/mikado/commit/94160ddbb26904362b757376abd13f658d8fdaf1>
?

On Mon, Jun 10, 2019 at 12:00 PM C Schu <cschu1981@gmail.com> wrote:

[2019-06-10 11:10] lucventurini commented on #181
Hi @cschu ,
                     yes, that was the correct one.
The image is here:
[code]

The test finished successfully, see the log and database:
[code]

The run crashed, but that's because the Blast database is not formatted properly (the FASTA lines all have different lengths). The orf loading was successful. See e.g. the ORF 38_4 for that was crashing Mikado earlier:

[code]
Now it has been

[2019-06-10 11:11] #181 closed

[2019-06-10 11:17] cschu opened #182 "SQLAlchemy warning"
https://github.com/kvesteri/sqlalchemy-utils/issues/374

I don't think this causes a major problem, but it is an annoying warning. Need to update SQLAlchemy version?

[2019-06-10 11:18] cschu commented on #182
`[schudomc@EI-HPC mikado]$ singularity exec container.img mikado -h
/usr/local/lib/python3.7/site-packages/sqlalchemy/sql/functions.py:68: SAWarning: The GenericFunction 'array_agg' is already registered and is going to be overriden.
  "is going to be overriden.".format(identifier))`

[2019-06-10 11:20] cschu commented on #181
Why is "the FASTA lines all have different lengths" an issue? Which tool
dies because of that?

On Mon, Jun 10, 2019 at 12:10 PM Luca Venturini <notifications@github.com>
wrote:

[2019-06-10 11:23] lucventurini commented on #181
Samtools faidx, through Pysam. I am using it to index all FASTA files and/or reading the FAI index, as that is much much faster that any of the alternatives (BioPython, PyFaidx) even though BioPython would nominally be more robust.

If this is an issue, I can have a fallback on BioPython and spit out a warning if such an error is encountered. I would do this **only for serialising the Blastx index

[2019-06-10 12:39] lucventurini commented on #182
This should be fixed in `sqlalchemy-utils` 0.34.0 (released yesterday). I am installing `sqlalchemy` and `sqlalchemy-utils` through Conda, so this issue should fix itself once they update things over there. Not much I can do on the codebase here ..

[2019-06-10 16:15] cschu commented on #182
Well, yea, but your environment.yaml states (or have you updated it?)

`- conda-forge::sqlalchemy-utils>=0.33.11`

, which means it will not necessary use 0.34.0, depending on how it solves the interdependencies.

[2019-06-10 16:26] lucventurini commented on #182
I cannot update it yet, version 0.34 has not been ported to Conda. If I were to update the environment.yml file now, it would cause a break. I can keep this open until Conda is updated, I guess.

[2019-06-11 15:49] lucventurini commented on #182
I have now created a pull request for updating sqlalchemy-utils in conda-forge, see [here](https://github.com/conda-forge/sqlalchemy-utils-feedstock/pull/32). Once it has been accepted and merged into the main repo, I will update our yml and close the issue.

[2019-06-17 08:55] lucventurini commented on #182
Both Portcullis and sqlalchemy-utils are now updated, so the annoying message has disappeared. Updated the `environment.yml` file for good measure, to ensure that the message will not appear again.

Closing.

[2019-06-17 08:55] #182 closed

[2019-06-17 09:48] lucventurini opened #183 "Static random seed"
Currently Mikado does *not* allow to set a random seed. This is a problem, as it is impossible to set a value from outside and have the program stick to it. So mikado runs can never be truly repeated.

[2019-06-18 22:40] lucventurini commented on #183
Giving in the seed on Mikado pick fails to set the seed correctly. Reopening to fix this.

[2019-06-19 09:12] gemygk opened #186 "IndexError: list index out of range and AssertionError"
Hi @lucventurini,

The Mikado pick stage is giving me some errors for the version - mikado-20190610_94160dd.

Please see below the error and logs.

CMD:

Mikado pick command:
[code]

Pick Log:
[code]

WD:
[code]
ERROR:
[code]

Mikado did not generate any files after - Jun 18 20:26, so is Mikado hanging at the moment?

In addition, there is one more error that I can see:
[code]

Can you please look

[2019-06-19 09:42] lucventurini commented on #186
Hi @gemygk,  would you be able to repeat the run with the latest container I uploaded yesterday?
`mikado-20190618_3b32a01`

I possibly have already solved this bug, but in case I have not, I'll try to fix it today.

[2019-06-19 10:00] gemygk commented on #186
Hi @lucventurini,

Sure, I will test it on just one scaffold and update you. Cannot test it on the full run though, as the full run has already taken >5days for the pick stage alone.

[2019-06-19 10:02] lucventurini commented on #186
Hi @gemygk ,

That is **really** strange and worrying. I will have a look at it.

[2019-06-19 10:05] gemygk commented on #186
I think it is the depth of transcripts we have at a locus causing these long runtimes.

[2019-06-19 10:26] #183 closed

[2019-06-19 10:51] gemygk commented on #186
Hi @lucventurini,

I am getting another error now
[code]

The error that I am getting is below:
[code]

[2019-06-19 10:56] lucventurini commented on #186
Hi @gemygk , it is due to the fact that you are launching Mikado from a different folder and therefore the soft link is not valid ("../plant.yaml").
I have created the soft link and relaunched.

[2019-06-19 11:00] gemygk commented on #186
@lucventurini , ah I see your point. My mistake of not changing the scoring file location in the Mikado configuration file.

[2019-06-19 11:15] lucventurini commented on #186
Out of curiosity, by the way, how did we end up with a region (`scaffold_2:=828029..24085450`) that has a whopping 167,901 transcripts?

I am not surprised at Mikado having difficulties in managing such a huge amount of data! I would have to investigate where the choke is, but this is some orders of magnitude bigger than what I wrote the program for ...

[2019-06-19 11:42] lucventurini commented on #144
Dear @codeandkey , the next version of Mikado will have this problem solved. I made sure that the necessary files will be packaged, so that compilation and testing will function appropriately.
I will close for now.

[2019-06-19 11:42] #144 closed

[2019-06-19 12:36] swarbred commented on #186
"Out of curiosity, by the way, how did we end up with a region (scaffold_2:=828029..24085450) that has a whopping 167,901 transcripts?"

@lucventurini had a look with @gemygk and this is due to our pacbio gmap alignments having some very large introns 1.8Mb. This is even though in gmap we set intron sizes that are max 50kb for middle introns. Looking at the gmap parmeters there is a --split_large_

[2019-06-19 12:49] lucventurini commented on #186
@swarbred agreed. This should also avoid other issues as well.
It does not answer the question of what else is making Mikado so slow in the locus, but it might be a start.

[2019-06-19 13:43] lucventurini commented on #186
Hi @swarbred , this should have been implemented in the latest commit (a131b94). I have put a generous default value of 1 million bps.
You can modify it like this in the configuration file:
[code]

I would recommend redoing the whole *M. persicae* analysis with this parameter in place, to be honest, given the spurious alignments.

[2019-06-19 14:08] swarbred commented on #186
"I would recommend redoing the whole M. persicae analysis with this parameter in place, to be honest, given the spurious alignments."

Thanks @lucventurini yes we were going to just filter the prepare output manually that way we dont need to redo the blast / orf prediction. I assume it shouldn't be an issue having say orfs loaded for the seralise step that are not in the prepare output that is the

[2019-06-19 14:11] lucventurini commented on #186
No, absolutely, it should not pose any problem at all. Please let me know how it goes.

[2019-06-19 16:50] lucventurini commented on #186
Hi @gemygk , @swarbred , issue no. 1 (Mikado taking forever and crashing), it seems that the filtering did the trick.
I think that what happened is that with such long introns, Mikado ended up having to digest in a single block a number of transcripts equivalent to the whole of the *A. thaliana* test set we used for the article. Unfortunately, it is not robust to such a deluge of data.

Regarding

[2019-06-19 16:50] codeandkey commented on #144
That's great to hear! Thanks much for your hard work.

[2019-06-20 13:07] lucventurini opened #188 "Double alias"
This is probably due to Mikado pick giving a transcript two aliases at the final round.

[2019-06-21 15:10] gemygk opened #189 "ncRNA_gene with child types ncRNA and transcript"
Hi @lucventurini,

With Mikado version - mikado-20190606_6c8d542, I have lately observed that we have two different ways of defining child features for type 'ncRNA_gene' as shown below.

We only used to have
ncRNA_gene: ncRNA

and *not*
ncRNA_gene: ncRNA|transcript

[code]

[code]

[code]

This could be a minor thing to fix.

Can you please look into this when you are back.

Thanks,
Gemy

[2019-07-01 11:24] lucventurini commented on #142
Hi @gemygk, @swarbred, @cschu, am I correct in saying that you have not found any new errors in the latest runs?
if that is the case, we might close this issue.

[2019-07-03 10:39] lucventurini commented on #142
Fixed as the current status.

[2019-07-03 10:39] #142 closed

[2019-07-04 14:53] lucventurini commented on #186
This particular error seems to be triggered by a specific instance - ORFs assigned by the caller to the *negative* strand, that are incorrectly assigned a zero phase. Eg:

[code]

Here the ORF found by prodigal has a GTG start, which is discarded by Mikado; the ORF is consequently enlarged until the end of the transcript; and instead of it being assigned a phase of 2, it was assigned a phase of 0.

[2019-07-04 16:27] lucventurini commented on #186
Hi @gemygk ,
                        I found the origin of the bug. It indeed affected any ORF on the negative strand with an "invalid" start codon (typically, GTG). I think this is not a massive bug in terms of effects, but it would probably be wise to redo all mikado serialises.

I understand that Mikado serialise took an extremely long time for your data on *M. persicae*, which is due to the po

[2019-07-05 07:07] lucventurini commented on #186
Hi @gemygk ,
                        as a postscript to my previous comment: 3b32a016 *should* have made the serialisation faster, especially for XML files. Emphasis on *should*. It would be really good therefore to test the most recent version on your *M. persicae* data, to see whether there has been the improvement I hope.

[2019-07-08 11:05] lucventurini commented on #186
Hi @gemygk,
                     using 10 cores instead of 1 (default when you launched serialise) and increasing the number of objects to keep in memory to 1M (default 100k) before dumping to the database definitely made a difference for your *M. persicae* serialisation runtime, together with the other code changes.

The running time was of about 6 hours in total. This is not a free lunch, though

[2019-07-08 11:06] lucventurini commented on #189
On the new run referenced in #186 , I am not seeing any `transcript` features anywhere. If that is the case at the end of the run, I will close the issue.

[2019-07-08 11:20] gemygk commented on #186
Hi @lucventurini,

Thanks for the update. Yes, will keep monitoring.

[2019-07-08 20:47] lucventurini commented on #189
No `transcript` feature found in the `mikado.loci.gff3` file here:

```/ei/workarea/group-ga/Projects/CB-GENANNO-444_Myzus_persicae_clone_O_v2_annotation/Analysis/mikado-20190606_6c8d542/trans_run1/mikado_all/serialise_test_7f87abe```

@gemygk , I am closing the issue

[2019-07-08 20:47] #189 closed

[2019-07-08 20:48] lucventurini commented on #186
No error found in either the `serialise` or the `pick` step. Closing the issue.

[2019-07-08 20:48] #186 closed

[2019-07-09 09:26] lucventurini commented on #188
Found the bug, [here](https://github.com/EI-CoreBioinformatics/mikado/blob/9aa33f0e72649af8826b06dbcc1f500694984a81/Mikado/picking/loci_processer.py#L91). Basically the new alias is given with a capital A - this leads to the presence in the object dictionary of **both** `"alias"` and `"Alias"`. When printing, Mikado then lowercases both, leading to a collision.

Fixing it.

[2019-07-09 13:37] #188 closed

[2019-07-09 13:37] lucventurini commented on #188
Hi @cschu , the issue has been fixed, see here:

[code]

[2019-07-09 14:24] lucventurini commented on #146
Hi @tommathers ,
                               the latest commit should fix the issue. I will close it, with the caveat that any further development will happen in [ei-annotation](https://github.com/lucventurini/ei-annotation); Daijin will remain for legacy purposes only.
As an example, ei-annotation already supports minimap2 for long read alignment, while Daijin does not and there is no plan to

[2019-07-09 14:26] #146 closed

[2019-07-09 14:28] lucventurini commented on #169
Dear @xiaoaozqd ,
                               apologies for the very late reply. In #146, I addressed your problem: specifically, now Daijin will specifically ask for a long alignment method for long reads.

Many apologies again for the lateness.

[2019-07-09 14:33] #169 closed

[2019-07-10 09:14] lucventurini opened #194 "Mikado self comparison bug"
From @gemygk:
On a minor note, I think the Mikado –self comparison does need some fixing though. Please find additional information below:

WD:
[code]
CMD:
[code]
ERROR:
[code]

[2019-07-10 13:51] #194 closed

[2019-07-18 17:33] AsclepiusDoc opened #196 "Error: exon_lines[row.id]["tid"] = row.transcript KeyError: None"
Hello Mikado,

I have been working through your pipeline and have ran into an error. I noticed it has been reported previously but, I have been unable to solve the problem. I was wondering if I could get your help?

Some additional information:

- Using the recent 2.0 version of Mikado in order to run the pipeline.
- CentOS Linux 7
- Running a conda environment
- Python version 3.6.8
- Mikado test

[2019-07-19 00:03] lucventurini commented on #196
Dear Alex,
                  thank you for your bug report. I will try to solve it as quickly as I can. It looks like a problem in parsing, hopefully it will not be too long to fix.

Kind regards,

Luca

[2019-07-19 13:07] lucventurini opened #197 "Mikado util convert not functioning for BAM files"
This is a regression from previous releases.

[2019-07-19 13:41] lucventurini opened #198 "Minor edits for the parsers"
From @gemygk:

[code]

[2019-07-19 14:12] lucventurini commented on #196
Dear @AsclepiusDoc,
                                   unfortunately I could *not* reproduce the bug with the toy data (as a reference genome, I used chromosome 1 of *G. raimondii*, having inferred from the log that you were analysing cotton - please let me know whether this is incorrect). However, I made a slight modification to the offending section of the code which could provide a fix.

May I

[2019-07-19 14:35] #198 closed

[2019-07-19 14:37] #197 closed

[2019-07-19 17:55] AsclepiusDoc commented on #196
Hello @lucventurini ,

Thank you for your reply. You are correct that we are working with cotton.

Also, I have looked through the GTF files and didn't seem to find any lines that were missing a transcript_id except for the two header lines in the stringtie file. Would it be crashing because of these headers?

Kind Regards,

Alex

[2019-07-19 21:43] lucventurini commented on #196
Dear @AsclepiusDoc ,
                                     the header should *not* pose a problem, but would you be able to send it here so that I can check?
Mikado should ignore lines that start with "#". If it does not, that is definitely the bug to be solved.

[2019-07-24 13:24] lucventurini commented on #196
Dear @AsclepiusDoc , any news? Have you managed to try the amended version? If you could send me another snippet of the GTF, I can have a go.

[2019-07-24 18:47] AsclepiusDoc commented on #196
Hello @lucventurini ,

Apologies for the late reply, to update you I have tried using the header and have now received a new issue using the amended version. I have attached the prepare.log.

Additionally, I have attached another set of GTF files.

Kind Regards,

Alex

[prepare.log](https://github.com/EI-CoreBioinformatics/mikado/files/3428292/prepare.log)
[St.toy_sample (2).zip](https://github.co

[2019-07-25 09:42] lucventurini commented on #196
Dear @AsclepiusDoc ,
                                      many thanks for the updated files. **I am now able to reproduce the bug on my workstation**, so I should be able to track the problem down and resolve it soon.

Thank you for your patience and collaboration.

Kind regards

[2019-07-25 10:10] davidprince84 opened #201 "Which class codes does mikado compare consider "novel"?"
When I run mikado compare to compare the results of mikado to the reference annotation the .stats output file lists the number of novel transcripts and novel genes.

34802 reference RNAs in 17753 genes
15547 predicted RNAs in  8961 genes
--------------------------------- |   Sn |   Pr |   F1 |
                        Base level: 60.41  94.82  73.80
            Exon level (stringent): 55.58  87.79

[2019-07-25 10:12] lucventurini commented on #196
Dear @AsclepiusDoc , it should now be fixed in 3bcae56 (see previous commit, ffc6ec3, under Mikado/preparation/annotation_parser.py, for the actual bug fix). If you could pull from the branch and test on your data, we can close the issue and merge back into master.

Thank you again for reporting this bug, this was quite nasty! if you had not reported it, this would have required a hasty patch righ

[2019-07-25 10:35] lucventurini commented on #201
Dear @davidprince84 , Mikado considers as novel any transcript which does not have any nucleotide overlap with a reference transcript. So you should be able to get the 364 transcripts of your example by filtering on the 10th column of the TMAP file (nucleotide F1), looking for transcripts that have a value of 0 there.

In the possible case you have not seen the documentation, class codes are expla

[2019-07-25 10:47] davidprince84 commented on #201
Thanks for the quick reply.

I do get 364 transcripts by filtering on nucleotide F1, and they don't map neatly onto the class codes (which was why the numbers didn't add up). Thanks for answering the query.

[2019-07-25 10:47] #201 closed

[2019-07-25 20:02] AsclepiusDoc commented on #196
Hello @lucventurini ,

I have updated the my branch and tested with my full dataset and it has gone through with no errors! I will continue running the pipeline to see if there are any other issues. Thank you so much for all your help!

Kind Regards,

Alex

[2019-07-25 21:27] lucventurini commented on #196
Dear @AsclepiusDoc ,
                                     excellent news! I will merge the fix back into master and update to v2.0rc2.

Thank you again for reporting the bug!

[2019-07-25 21:42] #196 closed

[2019-07-26 00:30] lucventurini opened #203 "Mikado util grep -v does not function with GTFs"
It performs as expected with GFFs, but not GTFs.

[2019-07-26 10:13] #203 closed

[2019-07-27 20:23] benhg commented on #177
I would be happy to take a stab at implementing this, if it would be of use.

[2019-07-29 12:53] lucventurini commented on #177
@benhg , please, be my guest! The relevant code should be here:

https://github.com/lucventurini/mikado/blob/master/Mikado/serializers/orf.py

[2019-07-31 09:48] gemygk opened #205 "sqlite3.OperationalError: database is locked"
Hi @lucventurini

I am getting an error with the Mikado version - mikado-2.0_rc1 for one of the Wheat accession.

This accession is having quite large input models compared to rest.

Even though I got this error, Mikado is still running. No logs (pick.log) have been generated from the point it crashed.

It looks like the serialise stage finished without any issues.

Can you please look into this?

[2019-07-31 09:58] swarbred commented on #205
@lucventurini Not the same issue but I had a crash with mikado-2.0_rc1 mikado prepare which was due to the input rather than mikado but after the error the slurm job did not exit (this was with multiple threads), and I had to kill the job manually.

[2019-07-31 10:42] lucventurini commented on #205
Hi @swarbred , I think the issue you mention might have been solved by fixing #196 (regarding the malformed input). As for the hanging ... I will have a look. It can happen, unfortunately, when using multiprocessing.

[2019-07-31 10:43] lucventurini commented on #205
I am getting an error with the Mikado version - mikado-2.0_rc1 for one of the Wheat accession.
This accession is having quite large input models compared to rest.
Even though I got this error, Mikado is still running. No logs (pick.log) have been generated from the point it crashed.
It looks like the serialise stage finished without any issues.
Can you please look into this?

Hi @gemygk, yes, sure

[2019-07-31 10:59] gemygk commented on #205
Hi @lucventurini

Yes, I had the same feeling.

Just found this from google:
https://stackoverflow.com/a/8618328
[code]
I hope, the timeout is not set to 5 secs as mentioned in the above comment?

Just to add on:

I have just noticed that there are no temp files (other than hidden files) in the pick temp folder here:
[code]

Is it that Mikado cleaned the temp folder when it crashed?

I did start a

[2019-07-31 11:13] lucventurini commented on #205
Yes, Mikado tends to clean after itself ... which sometimes is not so good.

I hope, the timeout is not set to 5 secs as mentioned in the above comment?

It might actually have been the cause of the crash, unfortunately. I did set up the timeout for the threads that *read* the database, but not for the one that *writes* it. Moreover, I did not enable the WAL mode, meaning that each read from the r

[2019-07-31 11:16] lucventurini commented on #205
Hi @swarbred , any chance to see the logs/files regarding this crash, by the way?

[2019-07-31 11:47] swarbred commented on #205
Hi @lucventurini the error was due to the input file these were models based on a transfer from another assembly and there are non valid structures one of which caused the error. It would be nice if prepare just removed the problem transcript, warned and continued but my comment was more that after erroring the job did not exit. On a side note prepare does a nice job in validating the gtf (gffread

[2019-07-31 13:37] lucventurini commented on #205
Hi @swarbred , I should have now fixed the part of "Mikado crashes because of an incorrect transcript during prepare". It is strange it was not handled correctly before.

For the other part - Mikado not exiting immediately after the process went into error - I am more puzzled. I have added a bit of code which should close correctly the queues present in the child processes - as that seems to be a

[2019-07-31 17:18] lucventurini commented on #205
Hi all,
          Mikado finished successfully and without raising any errors (job id 22513783 folder `/ei/workarea/group-ga/Projects/CB-GENANNO-450_10plus_wheat_SYMattis_annotation/Analysis/mikado_integration/mikado-2.0_rc1/annotation_run1/issue-205`).

If you can confirm, I will merge into master and close the issue.
Thank you for reporting the bug, switching to WAL probably made Mikado quite fa

[2019-08-01 09:23] gemygk commented on #205
Hi @lucventurini

The backup run also finished successfully (which failed first time with the error).

But there are differences in the count in the output we get from both runs. Both runs were executed with 'seed 10' and we should be getting identical results. We have not changed any code that will cause this difference, is that correct?

[code]

[2019-08-01 11:49] lucventurini commented on #205
Hi @gemygk, OK that is puzzling. I will have another look as soon as possible.

[2019-08-01 14:11] lucventurini commented on #205
Hi @gemygk , found the problem. Python uses multi-**processing** for parallelization, which means that each process is independent in terms of memory .... and crucially, random seeds. It is solvable but I need to set the random seed in all of the subprocesses.

Thank you for pointing this out, I will correct the issue in all subprograms.

[2019-08-01 15:22] lucventurini commented on #205
Hi @gemygk , I have switched to numpy for the randomization. It should now be ensured to be the same seed within all processes.

Apologies for the previous run, but they are different because of this. Unfortunately I was really **not** fixing the seed at all ... really many thanks for pointing this out!

[2019-08-05 01:53] benhg commented on #177
I think I've got something working ... Is there some data I can use to test with? Unfortunately, I'm not super familiar with the codebase.
Thanks,
Ben

[2019-08-05 10:48] lucventurini commented on #177
Hi @benhg, you can use the public data for the article. You can find it (here)[https://figshare.com/articles/Input_assemblies/5688016]. I would be curious, of course, to see the changes you made!

[2019-08-05 11:11] #205 closed

[2019-08-05 14:36] lucventurini commented on #201
Next release will specify in the statistics that "novel" and "missed" transcripts are those for which there is 0% nF1. This should hopefully make the report clearer.

[2019-08-05 15:38] benhg commented on #177
I will push it to my fork (and open a PR) as soon as I can verify it works ! I'm too self conscious to push an untested version haha!

[2019-08-05 22:45] AsclepiusDoc opened #206 "mikado serialise: sqlalchemy.exc.InvalidRequestError: No transaction is begun."
Hello @lucventurini ,

I have moved onto mikado serialise and have ran into another error. I was wondering if I could get your help?

Below is the error that I am currently getting.

[code]

Here is the command I am currently using:

mikado serialise --json-conf configuration.yaml --xml mikado.blast.xml.gz --orfs ../stringtie/longest_orfs.pep.transdecoder.bed

Additionally, I have attached a toy d

[2019-08-06 09:18] lucventurini commented on #206
Hi @AsclepiusDoc, many thanks for reporting this. I will try to replicate and solve it ASAP.

[2019-08-06 14:48] lucventurini commented on #136
It is **essential** to make sure that the documentation explicitly explains that Mikado serialise must use ORFs **called on the Mikado prepare output**, not on the input transcript assemblies. Otherwise fatal mistakes can happen, see #206.

[2019-08-06 14:56] lucventurini commented on #206
Dear @AsclepiusDoc , I was able to reproduce the bug. I will fix it today.
However, the bug was triggered because you provided Mikado serialise with the wrong input file - ie ORFs called on the input transcript assemblies for Mikado prepare (StringTie, if I am not mistaken) rather than the output of Mikado prepare itself.

To avoid this, I would recommend using the pipeline manager we developed -

[2019-08-06 15:09] lucventurini commented on #206
PS:

`gmap` can return a GFF3 output if called with the `-f 2` switch.

[2019-08-07 09:51] lucventurini commented on #206
Dear @AsclepiusDoc , now Mikado will die informatively when a situation like yours arises; this should make it easier to spot a problem in the pipeline's usage.

The rationale is that if Mikado had not died during serialisation, the data present in the database would have been useless - Mikado would have had no way to link the ORFs with the transcripts present in the GTF (as their names change due

[2019-08-07 13:13] #206 closed

[2019-08-07 17:28] AsclepiusDoc commented on #206
Hello @lucventurini ,

Thank you so much for your help! That did the trick and I was able to get Mikado outputs. Additionally, I followed your suggestion and was able to get a Trinity output for Mikado however, I seem to have ran into another parsing issue with the Trinity .gff3 file. I have attached the error here if that is okay?

Error:
[code]

Additionally, I grepped the string that was report

[2019-08-07 23:55] lucventurini commented on #206
Dear @AsclepiusDoc, the problem is that one of the lines is on chromosome 1 (rather than 10000001). That is clearly a mistake on GMAP part, as the culprit exon is actually missing from the correct chromosome (it's the starting exon of the model).

Mikado presumes that models should belong to the same scaffold /chromosome, so this is flagged as a clear a mistake. I do not know why it happened; it l

[2019-08-08 08:35] fmarletaz opened #207 "pick : overly long and high memory usage"
Hi - thanks for developing such a great tool mikado. I have been running it on several genomes without problem. However, for a recent project, I have some issues at the final `mikado pick` stage which takes a very long time (several days) and seems to require >100Gb of memory when using 8 cores. The problem might be that the RNA-seq data are relatively noisy (a lot of low coverage non-coding trans

[2019-08-08 10:33] lucventurini commented on #207
Hi @fmarletaz , thank you for reporting the issue. We recently had a similar issue that was caused by excessive locus chaining. Basically what happened was that there were a relatively low number of transcripts with enormous introns and/or exons (e.g. over a megabasepair long!). This caused Mikado to gather hundreds of thousands of transcripts into a single chunk, which drove up memory and runtime

[2019-08-09 06:52] fmarletaz commented on #207
Hi - Thanks a lot for your response! I ran the command you suggested, which removed 13,939 transcript from the `mikado_prepared.gtf`(original number 943110). Do you think that would be enough long transcripts to cause a problem?
I will try the options you suggested (1) try mikado 2.0r3 with max_intron and (2) try mikado pick with the filtered gtf. Btw, I remember we talked perviously about a scrip

[2019-08-09 09:20] lucventurini commented on #207
Yes, it most definitely would. Mikado was written with a partitioning algorithm that is based solely on transcripts' coordinates - so that even a handful of rogue transcripts like those will cause Mikado to gobble too many transcripts in a single locus, with the consequences you saw.

Great! Please let us know how it goes.

So, this is a bit awkward ... Mikado should now have all the necessary inf

[2019-08-09 09:32] lucventurini opened #208 "Adding UTRs to transcripts in the reference update mode"
In #207, @fmarletaz asked me whether we have a way to add UTRs to transcripts derived from eg. Augustus. This made me realise that currently this is not the case, **not even in reference update mode**.

The problem here is that Mikado explicitly disallows having transcripts that are identical inside a locus (ie.: the `=` and `n` [class codes](https://mikado.readthedocs.io/en/latest/Usage/Compare.h

[2019-08-09 15:01] lucventurini commented on #208
This issue will be worked on in [the branch issue-208](https://github.com/lucventurini/mikado/tree/issue-208).

[2019-08-09 15:20] lucventurini commented on #208
In the latest commit for the branch, I started working on this. Basically, in this version, whenever padding is activated normally "redundant" transcripts (`=`, `_`, `n`) will be considered valid ASEs.

Furthermore, after padding, for any couple of identical transcripts (to the base, ie nF1 == 100, given that we are talking about padded transcripts), only one will be kept (reference transcripts an

[2019-08-14 06:58] fmarletaz commented on #207
Thanks a lot! I am going to try it!

[2019-08-14 07:41] lucventurini commented on #207
OK! I am still experimenting on this as well - I think I have seen some improvement but it is still work in progress. Namely, now Mikado will try to prune relatively aggressively a locus if there are too many transcripts. Please follow [branch 207](https://github.com/lucventurini/mikado/tree/issue-207) for updates to the code!

[2019-08-15 13:50] lucventurini commented on #207
Dear @fmarletaz , now changes have been merged into `master`.
Briefly, now Mikado pick will be much more efficient in using multiple processes, and it will detect during the run whether any transcript has an intron which is too long (default is 1 Mbps; according to ENCODE, you might lose some genuine examples, but I would argue that for the vast, vast majority of cases this is sensible).

[2019-08-15 13:54] #207 closed

[2019-08-22 17:16] asdcid opened #209 "Bugs in daijin"
Hi,

I tried to run the `daijin assemble`

[code]
And then I got this error:

[code]

The configure file created by daijin configure is:
[code]

The version I used is `Mikado v2.0rc4`. Compared to the version `v1.2.4` on conda, it seems that the `v2.0rc4` missed the intron_len, scoring_file and other information.

Also, it seems that there are some bugs in `Mikado/daijin/tr.snakefile`,  such as
li

[2019-08-23 09:26] Tierhon commented on #208
This sounds great. I was just looking for something like this. Presently, I have been using Mikado to merge different transcript evidence, and then used that further in Funannotate together with mapped proteins (with GenomeThreader) and let Funannotate control training of Augustus (funannotate predict). However, I do believe that I have lost UTRs after this. Funannotate has its own method of updat

[2019-08-23 11:55] lucventurini commented on #208
Hi Ole, it should be. I am currently on holiday, but next week I can write out the detailed instructions (I need to do it anyway for the documentation).

It's not perfect or well tested yet so I would really appreciate the third party testing!

[2019-08-23 14:39] swarbred commented on #208
Hi @lucventurini

We definitely have a use for updating a reference annotation adding additional splice variants and extending UTRs. Marking a set of transcripts as "reference" allowed us to incorporate additional splice variants (SV), but we did this in a way that didn't require many changes to mikado (to save you work). So when we want to add SV to an exiting annotation we do the following

1) s

[2019-08-25 02:04] lucventurini commented on #209
Dear @asdcid , thank you for reporting this. We are planning to retire `daijin assemble` soon, but I will try to fix the bugs you found as quickly as possible.

The problem most likely stems from the fact that I reorganised the configuration file recently (as it had become sprawling and with a lot of duplicated values). Hopefully it should not take too long to fix.

[2019-08-26 11:40] lucventurini commented on #209
Dear @asdcid , I should have solved the small issues you reported. I will keep this report open until I have put a proper testing for `daijin assemble` in place.

Many thanks for reporting this, we would have released with a bugged Snakefile otherwise.

[2019-08-26 20:15] lucventurini commented on #208
No, as the logic is written, the maximum number of isoforms is used as a cutoff **before** we even do the padding. It is basically a switch that says to Mikado "just stop adding" once a critical number of isoforms has been reached. It is **not** the most elegant solution, hence why I suggested maybe removing it.

One that could still be done with the current infrastructure of the program, but yes,

[2019-09-04 13:20] lucventurini commented on #177
Update: after testing on the data for the original article, it appears evident that the bulk of time in serialising the ORFs is spent by calling the BioPython `Bio.Seq.Seq.translate` method.
This accounts for half of the total time spent by the program serialising the ORFs.
As this is a third party module, there are only two alternatives:
- trying to use multiprocessing to speed up. Due to locking

[2019-09-08 15:34] lucventurini commented on #177
Dear @shenweima, the latest commit introduces proper multiprocessing for serialising ORFs. I expect it to be more memory hungry as there is the use of a queue, but it should still be very lightweight.

Tomorrow I'll test it with a proper challenging dataset. If it functions, I'll close the issue.

[2019-09-09 09:39] lucventurini commented on #177
Dear @shenweima, I can confirm that the new method functions. Specifically, now `mikado serialise` can load 954,447 ORFs in just about 3 minutes using 28 parallel processes; at least one minute of this was dedicated to loading the 696,889 transcripts into the "query" table.
Memory was also manageable, with a peak at about 8GBs.
I will close the issue, which will be completely solved once I merge b

[2019-09-09 09:39] #177 closed

[2019-09-13 13:07] lucventurini commented on #208
Hi @swarbred, @gemygk:

- I have merged most of the changes back into master. I have tested extensively and they seem to function.
- I am now testing (see 6c350ec) a change in the definition of alternative splicing which will allow to pad, remove redundancies, and still keep a meaningful number of maximum isoforms. See the commit for the changes. The *caveat* is that the threshold for keeping or d

[2019-09-13 18:48] lucventurini commented on #208
To clarify, Mikado does *not* ensure that the primary transcript has a stable score during the AS selection stage.
To the contrary, both with the previous method and the current, there are instances where the primary transcript gets superseded by other transcripts in the locus for the final scoring. This is due to the fact that of course there are many metrics that hugely depend on the transcripts

[2019-09-16 23:57] lucventurini commented on #209
Dear @asdcid , I have now implemented a proper test for `daijin assemble`. While doing so, today I fixed a very large number of bugs in the pipeline.

Once the travis check completes successfully, I will merge back into the `master` branch and close the issue.

Thank you again for reporting and prodding me to clean up the code in this section.

[2019-09-17 01:50] asdcid commented on #209
Thanks for your help.
However, I have another question. I tried to run mikado (with permissive mode) with trinity and scallop assembly results, but it seems that the BUSCO complete score in the final mikado result `pick/mikado-permissive.loci.gff3` is pretty low (~30%, vs ~90% for original trinity or scallop assemblies). Do you have any idea about that?

Thank you.

[2019-09-17 05:32] asdcid commented on #209
I think I found the answer. I am using `daijin mikado`, it seems that neither blastx nor diamond was run.

Also, it seems that the `--use-diamond` always is true in the configure file even I set `--use-blast` in `mikado configure`.

The dag file for `daijin mikado` is attached:
[dag.pdf](https://github.com/EI-CoreBioinformatics/mikado/files/3619391/dag.pdf)

[2019-09-17 06:58] lucventurini commented on #209
Dear @asdcid, thank you again for your report. May I ask whether you specified one or more protein FASTA files during configuration? If they are missing, that would explain why mikado did not perform a blast run.

I will check and correct the bug regarding `--use-blast` as soon as possible.

[2019-09-17 09:37] lucventurini commented on #209
Dear @asdcid , unfortunately I cannot reproduce the bug regarding `--use-blast` with the latest version of the code. I just trialled and `daijin` correctly used BLAST+ instead of DIAMOND.

I am now testing it in Travis (see https://travis-ci.org/lucventurini/mikado/jobs/585974482), where I can confirm that the bug does not present itself.

**Regarding your more concerning point**:

This is indeed

[2019-09-17 10:49] #209 closed

[2019-09-17 10:50] lucventurini commented on #209
Closing as now `daijin` performs as expected.
@asdcid , please let me know about BUSCO. If it is still not behaving properly, we will open another ticket.

[2019-09-19 17:45] lucventurini opened #215 "[BUG] Transcripts that pass all stages have their metrics changed"
Basically, transcripts that arrive at the locus stage will back-propagate the value of the newly calculated metrics back to the previous stages.
E.g. a transcript with "exon_fraction" of 0.5 at the sublocus stage might end up having a value of 1, or 0.25, at the end of the run. Mikado will **not** print the value that was present at the sublocus stage **but rather** the newly calculated value.

Th

[2019-09-23 18:45] Xiaofei-git opened #216 "Error: "could not convert string to float""
I "pip3 install mikado" installed the mikado on our hpc cluster and used the "sample_data" to test it from command line. I got same error as "https://github.com/EI-CoreBioinformatics/mikado/issues/164". Could you direct me what is the issue?

There is warning message at the beginning "calling yaml.load() without Loader=... is deprecated", might it be a problem for the error? Also, I need to copy "

[2019-09-24 08:03] lucventurini commented on #216
Dear @xiaofei,
                            Thank you for reporting the bug.
Regarding the `yaml` error message, it is due to updates in the module. I fixed it in the most recent versions of the tool, but older versions are unfortunately bound to have it. It should not affect the results, though.

As for the main error, I think I changed the format of the list. May I ask you which version have you

[2019-09-24 17:44] lucventurini opened #217 "BUG: find_retained_introns is broken"
The new version of find_retained_introns, introduced after 1.0.x, is completely broken. It flags as retained introns segments that are legitimate 3' UTR segments, leading to the removal of legitimate splicing events.

Upon inspection, the problem is that the new version of the code does not take into account in any way the strand of transcripts, neither where the coding introns are. Therefore, any

[2019-09-24 17:48] lucventurini opened #218 "ENHANCEMENT: lighter interchange databases for Mikado pick"
To reduce the number of files and make the parsing easier, I recently switched the inter-process method for `mikado pick` from pre-compiled flat-files (which need to be parsed and put out) to dumped JSONs that contain the whole superlocus. However, this has caused a ballooning of the data that has to be written to disk (from less than 1GB to over 65GB for *Myzus*).

A compromise solution is to use

[2019-09-25 09:58] lucventurini commented on #217
Fixed in 443e9e2.
Now Mikado will do the following:
- if a transcript is non-coding, consider all its exons.
- If a transcript is coding:
  - if the exon is a complete (ie fully UTR) **3'** UTR exon, do not consider it further.
  - If the exon is completely coding, do not consinder it further.
  - if a transcript is **partially** coding:
    - if it is in the 5' UTR, consider all the 5'UTR (to det

[2019-09-25 11:23] #217 closed

[2019-09-25 13:43] Xiaofei-git commented on #216
Yes, it is v1.2.4.
I used "pip3 install mikado" to install, and thought it is the latest version by the installation. How can I update the tool.
Thanks a lot!

[2019-09-26 08:15] lucventurini commented on #218
This should now be fixed. A further enhancement would be to check again that none of the remaining loci are fragments: this can happen because the flanking region is different from the maximum distance for fragments (by default 200 vs 2000). Performing a check at the last step would therefore remove many spurious loci and increase the performance.

[2019-09-26 10:59] #215 closed

[2019-09-26 11:10] lucventurini commented on #216
Dear @Xiaofei-git , I am about to release a new release candidate this afternoon. That version has the bug fixed (together with many other enhancements).

Best

[2019-09-26 13:23] Xiaofei-git commented on #216
Let me know when you finish the release. Thank you so much!

BEST,

Xiaofei

[2019-09-26 15:31] lucventurini commented on #216
Dear @Xiaofei-git , the new release can be found here:

https://github.com/EI-CoreBioinformatics/mikado/releases/tag/2.0rc5

Best

[2019-09-26 17:08] Xiaofei-git commented on #216
If I'd like to install by "pip3 install mikado", how could I install the new release one? Thanks a lot!
BEST

[2019-09-26 19:11] lucventurini commented on #216
Dear @Xiaofei-git, I added to the release page two binary packages (the ones that finish with .whl), one for python 3.6 and another for python 3.7. Either should function by doing a

`pip install mikado.whl`.

If you have a different version of python or you are not on a Linux system, then please download the source package (either the tar.gz or the .zip file), unpack them, then

`python setup.py

[2019-09-27 09:24] #218 closed

[2019-09-27 10:48] lucventurini opened #220 "[BUG] Mikado serialise does not put external data in the database"
Reported by @swarbred.

[Luca_serialise_bug.tar.gz](https://github.com/EI-CoreBioinformatics/mikado/files/3662362/Luca_serialise_bug.tar.gz)

[2019-09-27 12:55] #220 closed

[2019-09-30 12:52] lucventurini opened #222 "Make Daijin use alternative genetic codes"
Mikado already allows to use alternative genetic codes, but currently Daijin is stuck with using the normal genetic code, both for ORF prediction *and* for similarity searches. This unnecessarily hamstrings the pipeline and requires only minimal changes to the `mikado.smk`.

[2019-09-30 17:32] lucventurini opened #223 "Mikado serialise gets some ORFs wrong (probably due to the negative strand)"
This also appears to happen when using a different genetic code in e.g. Prodigal - indicating that most probably there is a bug somewhere in the code of the "expand" method of BED12 objects.

[2019-10-01 14:39] Xiaofei-git commented on #216
I used "pip install --user Mikado-2.0rc5-cp36-cp36m-linux_x86_64.whl" to install it, it gave me error but showed me "successfully installed" in the end as below, could I ignor the error and move forward to use it?

Thanks a lot!

ERROR: pygenometracks 2.1 requires hicexplorer>=2.1.1, which is not installed.
ERROR: hicmatrix 7 has requirement intervaltree==2.1.*, but you'll have intervaltree 3.0.2

[2019-10-01 15:02] lucventurini commented on #216
Dear @Xiaofei-git ,
                                 the issues that `pip` is complaining about regard two packages that have nothing to do with `Mikado`, ie `pygenometracks` and `hicmatrix`. The installation of `Mikado` itself should be unaffected.
Please let me know how it goes.

[2019-10-01 16:19] #222 closed

[2019-10-01 16:28] lucventurini commented on #223
*Not* closed in 46e4577.

[2019-10-01 16:28] Xiaofei-git commented on #216
I am moving forward on the sample_data.
When I run "makeblastdb", I got error as below, although "mikado.blast.xml.gz" was still generated, but I do't know if it does matter? I googled the error, it might be with the version of blast. Do you have any ideas?

Then, I still move forward with the generated "mikado.blast.xml.gz" for "mikado serialise". Unfortunately, another error as below, I did't ge

[2019-10-01 16:44] lucventurini commented on #216
Dear @Xiaofei-git ,

regarding the first error (in `makeblastdb`) - this is due to some sequence titles being too long. It should not pose an issue, in my experience.

Regarding the second issue: unfortunately I **think** this has to do with the specifics of your system rather than with Mikado. The problem is that the SQLite database used by Mikado crashes. My suspicion is that you are working on

[2019-10-02 15:45] lucventurini commented on #223
Fixed in c707b3c. The only case where `gffread` found in-frame stops was due to a bug in `gffread` due to incorrect consideration of phases (transcript on the negative strand, first exon being CDS truncated AND being only one base-pair long).

Closing.

[2019-10-02 15:45] #223 closed

[2019-10-02 17:07] lucventurini opened #225 "Mikado v2 does not perform as well on *H. sapiens* data"
Currently, the results obtained by Mikado v2 on rerunning it on the *H. sapiens* data prepared for the article are much worse than the published ones. This is in stark contrast to results obtained in the other three test species.

Potential culprits:
- `prepare`, if we discard many more transcripts. Likelihood is low.
- `serialise`: we might be treating BLASTX or ORF data in such a different way t

[2019-10-03 00:06] bbista opened #226 "Mikado util stats error on NCBI gff3"
I was trying to look at the stats for a gff3 file I downloaded off NCBI. I get this error message.
mikado util stats GCF_000241765.genomic.gff genomic.stats
/home/bbista/.local/lib/python3.6/site-packages/Mikado/configuration/configurator.py:529: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full

[2019-10-03 07:47] lucventurini commented on #226
Dear @bbista ,
                         thank you for reporting this bug. I just inspected the GFF you mentioned (which I presume is [from this folder](ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/241/765/GCF_000241765.3_Chrysemys_picta_bellii-3.0.3/)) and the problem stems from the fact that gene-LOC112059410 is a pseudogene without any transcript feature associated to it. That's kinda invalid

[2019-10-03 09:59] swarbred opened #227 "Error: BrokenPipeError: [Errno 32] Broken pipe"
Hi Luca

Error running mikado compare (mikado-2.0rc4 also true for mikado-2.0_rc1) present only when running with multiple processes (fine with --processes 1)

prediction models (nanopore reads) contains unstranded multiexonic transcripts (which is expected in this data) this causes an error (though exit code is 0) when running with multiple processes. The log indicates this

**Mikado.exceptions.I

[2019-10-03 10:16] swarbred commented on #208
@lucventurini just to comment while I have this in my head if we want to "fully" enable updates to reference annotation ie new splice variants and UTR extensions then we might need to look at allowing some non-valid models

This ties in with https://github.com/EI-CoreBioinformatics/mikado/issues/226

i.e. if you wanted to update say the downloaded human ensembl gene file you would find many models

[2019-10-03 10:29] lucventurini commented on #227
Hi @swarbred ,
                           thank you for reporting, I will have a look this morning.

[2019-10-03 10:43] lucventurini commented on #225
Hi @swarbred , @gemygk ,
                                             I redid the analysis using Mikado v1.0.2 **and the results were still much worse than those published**.

This basically categorically excludes that the problem stems from regressions in the Mikado code. Which is a relief.
I also excluded that the problem was using the alternative "human.yaml" rather than "hsapiens_scoring.yaml"

[2019-10-03 10:51] lucventurini commented on #227
Hi @swarbred,
                        fixed in ac13709. I will merge that branch, which also closes #223 and #222, after the TravisCI run finishes.

[2019-10-03 14:32] lucventurini commented on #208
Hi @swarbred ,
                           yes, I get your point.
Regarding the issue in #226, actually, paradoxically `mikado prepare` would not have a problem with that ... at that stage the program only collects exon/CDS/UTR features. So a model like the one causing the issue there (ie having only exons and pseudogene, but no transcript, defined) would probably pass through fine.

[2019-10-03 14:50] #227 closed

[2019-10-03 14:57] lucventurini commented on #225
Update: portcullis junctions were not the problem. The only thing left is to re-inspect the files on the EI cluster to pinpoint the origin of the problem.

[2019-10-03 16:07] swarbred commented on #225
@lucventurini

Can i clarify the issue

You have tested v1.0.2 and v2 using what you believe is the same input and config files as the published results and for human in both mikado versions the new results are worse?

Firstly how do these compare i.e. how much worse than the published results

What do the arabidopsis results look like for the same comparison?

That's possible, while it would be g

[2019-10-03 16:51] swarbred commented on #225
Is the worse F1 due to a lower precision ? Do we have many more genes and or transcripts in the new runs?

Are the new runs done without the padding?

The arabidopsis results you mention seem positive i.e. better in v2. The arabidopsis set was always the better test dataset as the human gencode annotation has been annotated in a way that is not typical of most gene sets (I did some of it) also the

[2019-10-03 17:23] lucventurini commented on #225
We have more genes but much less transcripts (about 30% less). I attach the comparisons so you can have a look. Both precision and sensitivity take a whopping.

Both with and without (for *A thaliana*, it is with). It does not make much of a difference in terms of accuracy.

That would be for the best I think.

[comparisons.zip](https://github.com/EI-CoreBioinformatics/mikado/files/3687306/compari

[2019-10-07 11:02] ChemaMD opened #229 "Mikado Serialise crashing in BLAST parsing"
Hi,

Thank you very much for developing such a useful piece of software. I'm running the latest version of Mikado (2) and I'm encountering a parsing problem with an XML diamond BLAST file. I'm running serialise in a cluster employing a single core (I have a single XML file, and from the help info of mikado serialise, it seems I cannot use more CPUs than XML files) and 15GB of RAM. It is apparently

[2019-10-07 11:07] lucventurini commented on #229
Dear @ChemaMD, many thanks for reporting this bug. I will have a look at it now.

Kind regards

[2019-10-07 11:18] lucventurini commented on #229
Dear @ChemaMD , I should have fixed it in the latest push (68fa321). It was a very silly and easy to solve bug, so many thanks for having reported!

Please let me know whether the latest pull will indeed fix it for you.

Kind regards

[2019-10-07 11:24] ChemaMD commented on #229
Thank you very much for such a quick response and solution! I will update and re-run.

[2019-10-07 16:36] lucventurini opened #230 "[BUG] Mikado tests crashing due to changes in Snakemake and Hypothesis"

[2019-10-07 22:47] #230 closed

[2019-10-07 22:53] cschu commented on #230
What are these changes in snakemake and in which version do they occur?

[2019-10-08 05:56] lucventurini commented on #230
In the latest version of snakemake, the program accepts more than one configuration file. So the `snakemake` function has now the keyword `configfiles` rather than `configfile`.

Similarly, inside a `Snakefile`, the path of the configuration file can be accessed with `workflow.overwrite_configfiles[0]` rather than `workflow.overwrite_configfile`.

[2019-10-08 14:24] lucventurini commented on #226
Dear @bbista, I have started fixing the problems you found.

With the latest commit, `mikado util stats` is now able to parse the file appropriately. I will now work on making `mikado compare` compatible as well.

Changes will be reflected in Mikado2 (and live in Mikado 2.0rc6).

Kind regards

[2019-10-08 16:14] lucventurini commented on #229
Dear @ChemaMD, `mikado pick` should be quite fast, so if it is not writing down anything there is something that warrants investigation.
Would you please be able to send me the log file? Attached here would be fine, if it is small enough.

Best

[2019-10-08 16:22] ChemaMD commented on #229
I just lunched the following command:

[code]
I added the `--no-pad` flag as in previous attempts there was a WARNING regarding the padding of one transcript (see previous message).

Below the log this run made (it is still running but not writing anything down).  I consistently get a WARNING message with `setup_logger - MainProcess - Current level for queue: INFO`. The genome has 30 scaffolds, an

[2019-10-08 16:30] lucventurini commented on #229
Dear @ChemaMD ,

My fault, the message should really be INFO level. It is literally logging which transcripts had been padded, nothing more.

In the output folder there should be a temporary folder (`mikado_tmp*`), with temporary files being written into. If that is the case, things are proceeding as they should.
The parsing message is related to the parsing of the file, not to the actual analysis

[2019-10-08 18:20] cschu commented on #230
Painful.

On Tue, Oct 8, 2019 at 6:56 AM Luca Venturini <notifications@github.com>
wrote:

[2019-10-08 21:29] ChemaMD commented on #229
Dear @lucventurini ,

The command did not generate the temporary folder, and it is still running (it's been running for 5h), without loading anything in the `mikado.loci.*` and `mikado.subloci.*` files, which have their headings, but are empty. The temporary folder only appears when I run `mikado pick` with more than two processors. Inside of that folder, there are several files, also empty. To me

[2019-10-09 07:01] lucventurini commented on #229
Dear @ChemaMD, it is really strange. Mikado pick should be writing to the files inside the temporary directory almost immediately.
Would you please be able to do the following:
- create a smaller GTF by taking the first 10000 lines or so of mikado_prepared.gtf
- launch `mikado pick` on that file, adding as well the `-lv DEBUG` switch to the command

This will force mikado to go into a single proce

[2019-10-09 08:32] ChemaMD commented on #229
Hi @lucventurini , it now worked well with just 10,000 lines gtf. I attached the `pick_test.log`. The original GTF file is 9,212,560 lines
[pick_test.log](https://github.com/EI-CoreBioinformatics/mikado/files/3706302/pick_test.log)

[2019-10-09 09:00] lucventurini commented on #229
Dear @ChemaMD , OK this is progress! May I ask you then to:

- remove any mention of "stringtie29_STRG.162.1" from the test GTF (due to the `head` command, it is truncated, hence crashing `mikado` - this is the expected behaviour)
- relaunch using more than two processes and **without** the `-lv DEBUG` switch

If it functions, then we should try with a whole scaffold/chromosome (probably the small

[2019-10-09 09:32] ChemaMD commented on #229
Hi @lucventurini , I just tried with the multiprocessors and small fixed GTF and worked well. It created the temporary file. It also worked well with just the smallest chromosome. Also when adding the `--subloci-out` flag (BTW, I think in previous versions and in the documentation, the flag was `--subloci_out` with underscore). I will launch it now with the entire dataset and see what happens.

[c

[2019-10-09 09:36] lucventurini commented on #229
Excellent. Hopefully the new logging will give you a sense of how it is proceeding with the full dataset. Thank you for nudging me in making those messages more informative!

Yes, well spotted - I changed it recently. Documentation is being updated on [a dedicated branch](https://github.com/lucventurini/mikado/tree/issue-136) and, once this issue and #226 are fixed, is one of the few remaining roa

[2019-10-09 16:40] ChemaMD commented on #229
Dear @lucventurini , I launched `mikado pick` with the entire dataset in DEBUG mode and everything seemed to go as planned (I stopped it after five hours, since I was estimating that it would take around 7 days in DEBUG mode to parse the entire `mikado_prepared.gtf` file). I then relaunched the job without the `-lv DEBUG` flag, this time with 10 CPUs and 1 GB of RAM allocated/CPU. The run was laun

[2019-10-09 17:46] lucventurini commented on #229
Dear @ChemaMD, no, it is not normal. Mikado should have dumped the transcripts to the `temp_store.db` file pretty continuously. The only reason it might be stalling is if it had found an extremely dense locus (in the order of tens of thousands of transcripts or more) which would slow down the transmission of data to the child processes.
if that is the case, it should get unstuck eventually.
if it

[2019-10-10 09:58] ChemaMD commented on #229
Dear @lucventurini , I started two approaches to overcome this issue and test whether the problem is a complex locus that stalls `mikado pick`. I have launched two different jobs, one with the entire dataset and 27 allocated cores. For the other one, I split the original dataset on scaffolds (30 jobs) and launched `mikado pick` with 3 cores for each of these subsets, which appeared to work well be

[2019-10-10 12:38] lucventurini commented on #229
Dear @ChemaMD, thank you, this looks like a proper bug. I will have a look at the relevant code now.

Regarding finding the locus that is creating the problem - I have thought of a way.

1- Convert the prepared GTF into a BED12, putting "1" as a score:
`mikado util convert -of bed12 mikado_prepared.gtf | awk -F "\t" '{OFS="\t"; $5=1; print $0}' >
mikado_prepared.bed12`
2- Use BEDtools to merge the

[2019-10-10 14:00] lucventurini commented on #229
PS: @swarbred, would you think that reducing the default value for the maximum intron length (1,000,000) would be a good idea? It seems that keeping it this high is creating problems. I know that there are known introns in the *H. sapiens* annotation that are as long as 4 megabasepairs, but even there, 99% of the known introns are lower than 100,000 (more precisely, less than 87,000 basepairs).
Ma

[2019-10-10 15:14] lucventurini commented on #226
Current status: `mikado` now supports this problematic GFF in `util stats`, `util convert`, `compare`, `prepare`.
The only utility left before the issue can be closed is `mikado util grep`. Once that is fixed, this issue can be closed.

[2019-10-10 15:37] lucventurini commented on #229
@swarbred

Good point. Thank you for the comment.

I think that in general 500,000 might be a saner option, thinking back to some pathological cases. But I will not pull the trigger yet.

[2019-10-10 16:01] ChemaMD commented on #229
@lucventurini ok, I started a new mikado run with the lower intron length (50,000; if mikado now runs completely, I might then consider going up to 500,000 or just 100,000). In my case, this is an annelid genome, and there are not many other genomes to use as reference (the best one would be Capitella, and it is half the size of the genome I'm annotating). From the ~4.8M transcripts I loaded in `m

[2019-10-10 16:20] lucventurini commented on #229
@ChemaMD

Indeed they might just be Trinity misassemblies, or GMAP misalignments. This would fit the pattern we observed in other datasets.

Yes indeed. This is an oversight on my part, I will fix it immediately. Thank you again for reporting!

[2019-10-10 16:43] swarbred commented on #229
@ChemaMD Just to comment for an Annelid genome 50,000 max intron size should be fine, the ~80,000 transcript removed will overwhelmingly be alignment artefacts

[2019-10-10 17:24] ChemaMD commented on #229
Thanks @swarbred and @lucventurini for the feedback and help. The single scaffold runs are progressively finishing, and based on the size of these scaffolds, it appears that `mikado pick` is roughly processing ~1.5Mb of genomic sequence and ~150 genes per hour with 3 CPUs. Is that expected?

[2019-10-10 17:56] lucventurini commented on #229
@ChemaMD, on our *A. thaliana* test dataset, mikado did approximately 45Mbps/hour per CPU. However, the dataset had about 20 times less transcripts, at about 200, 000.

Your observation is therefore in line with what I would expect - mikado should scale almost linearly with transcript numbers and transcript density, and that seems to be the case here. Throwing more CPU at the problem should help,

[2019-10-10 19:17] Xiaofei-git commented on #216
Dear @lucventurini,
I got the error about SQLite, because our home directories are out of space. Now, it is fixed.

[2019-10-10 19:26] lucventurini commented on #216
Dear @Xiaofei-git, thank you for updating us. Glad it worked out in the end.

[2019-10-10 19:29] Xiaofei-git commented on #216
However, when I run the code "$ mikado serialise --json-conf configuration.yaml --xml mikado.blast.xml.gz --orfs mikado.bed --blast_targets uniprot_sprot_plants.fasta", I got the error below, which complained that the provided ORFs do not match the transcripts provided and already present in the database.
The "mikado.bed" file is in the path of "sample_data". How did you get it? In another words,

[2019-10-10 19:33] lucventurini commented on #216
Yes. Transdecoder or prodigal (or any other orf caller) must be run on the output of `mikado prepare`, not of the input transcript models. I thought I had clarified that on the error message, but I will make it more explicit. Thank you for pointing it out.

[2019-10-10 19:40] Xiaofei-git commented on #216
I am sorry I feel confused. I don't think I asked the error before about "The provided ORFs do not match th
e transcripts provided", did I? I also tried to googled it, but I don't find anything related to it.

[2019-10-10 20:56] ChemaMD commented on #229
Thanks @lucventurini ! I will continue with the run with the limited intron size and submit `mikado pick` with a good number of CPUs.

[2019-10-10 21:10] lucventurini commented on #216
That's our fault in not making the documentation clear enough. You are not the first person to make this mistake.
I will clarify this in the documentation (#136), and have mikado both have a more informative error in `serialise` *and* print it out as an instruction at the end of `prepare`.

As I mentioned, you are not the first one to make this mistake, so it is clearly on us to clarify the proced

[2019-10-10 21:31] lucventurini commented on #229
Not a problem! Out of curiosity, how big is the genome you are analysing? I had a quick look and the best I could find seemed to indicate a genome size between 250 Mbps and 1.2 Gbps for Anellida. No particular reason, just curious about the organism (and admittedly, about whether my back of the envelope calculations on mikado performance are really in the right ballpark).

[2019-10-11 08:07] swarbred opened #232 "Typo in Mikado serialise help"
--codon-table CODON_TABLE
                        Codon table to use. Default: 0 (ie Standard, NCBI #1,
                        but only ATG is considered a valid stop codon.

Presume this should say valid START codon

[2019-10-11 08:19] ChemaMD commented on #229
The genome is ~550Mb, mid range for an annelid. We will have some others closer to the 1Gb upper range. I did the BED12 calculation for Scaffold01 (of ~44Mb), and there seems to be a super-locus that spans almost the entire chromosome and of course with hundreds of thousands of transcripts:

[code]

[2019-10-11 08:41] lucventurini commented on #229
Yep, that would nicely break Mikado's parallelisation - all those hundreds of thousands of transcripts would have been analysed by a single process.
I hope that the maximum intron heuristic will solve the issue. Please let us know when the run finishes - or whether you encounter any further issue.

[2019-10-11 09:51] lucventurini commented on #232
Thank you for pointing it out, fixed.

[2019-10-11 10:09] #216 closed

[2019-10-11 15:22] Xiaofei-git commented on #216
Thank you so much! Now, it is clear to me and I run through mikado successfully. Here is the code I used for "serialise" step as below. FYI, https://github.com/EI-CoreBioinformatics/mikado/issues/114 helped me too, because I had to delete the mikado.db file before re-running Mikado serialise, otherwise it will report that
2019-10-11 11:08:24,220 - main - __init__.py:120 - ERROR - main - MainProces

[2019-10-11 17:34] lucventurini commented on #216
No problem @Xiaofei-git , very glad I was able to assist you through this! Please let us know if you encounter any other issue.

Yes, I can understand that. I probably should delete the database when `mikado serialise` errors as badly as it does when trying to use the wrong ORFs.

Working on that, thank you!

[2019-10-12 10:10] lucventurini commented on #225
Update: I have rerun completely the data for human, ie I've redone alignments, assemblies etc. on our cluster. Nothing changed, mikado still greatly under performs compared to the paper, and the most common "mistake" consists in choosing models that have extra exons (`n`). I think I will leave it as it is for the time being.

@swarbred if we could at some point run mikado on the datasets you were

[2019-10-13 20:58] ChemaMD commented on #229
Dear @lucventurini , `mikado pick` finished without any issues on the run with maximum intron length set to 50Kb! Thank you very much for all your help!

[2019-10-14 06:56] lucventurini commented on #229
Excellent news! Thank you for letting us know.

I will close the issue, and we can discuss further on Wednesday.

[2019-10-14 06:56] #229 closed

[2019-10-14 11:37] gemygk opened #233 "Mikado compare refmap location column error"
Hi @lucventurini
@swarbred mentioned this issue a week before but forgot to create it.

It looks like the `location` column (number 27, when we run mikado compare with --extended-refmap) is having values 'C/S/c' etc instead of format `<chrXXX>:<start>..<end>`.

I have checked `mikado-1.2.4` refmap output and the refmap output looks correct.
It must have happened recently, can you please check?

Th

[2019-10-14 11:57] lucventurini commented on #233
Hi @gemygk, yes I will have a look.
I am also noticing something weird with results from compare, when contrasting then eh the results from 1.0.2. I will have a look soon.

[2019-10-14 13:50] lucventurini commented on #225
@swarbred @gemygk

Please ignore this issue. I had another look and - very embarrassingly - the reason for the far lower performance was the fact that I must have indexed the `reference.gff3` and `filtered.gff3` files while instructing `mikado` to strip the UTR. That is the reason for the predominant `n` class code.

Once I corrected this user error, the problem became much more subdued - there is

[2019-10-14 13:50] #225 closed

[2019-10-14 14:16] #233 closed

[2019-10-14 17:22] #226 closed

[2019-10-15 18:30] Xiaofei-git opened #236 "the fifth column of list.txt"
Dear @xiaofei,
                            Thank you for reporting the bug.
Regarding the `yaml` error message, it is due to updates in the module. I fixed it in the most recent versions of the tool, but older versions are unfortunately bound to have it. It should not affect the results, though.

As for the main error, I think I changed the format of the list. May I ask you which version have you

[2019-10-16 12:09] lucventurini commented on #236
Dear @Xiaofei-git ,
                               the fields are as follows:
1. file name (it must be unique)
1. label (it must be unique)
1. strandedness (`True`, `False`)
1. (optional) score, must be a real number
1. always keep (ie, never discard transcripts from this source in `prepare`) (`True`, `False`)

I hope this helps. I will make the documentation on the point clearer through #136.

[2019-10-16 13:37] lucventurini opened #237 "Breaking (instead of discarding) models with too-long introns?"
While revising the configuration files for MAKER2, I realised that one option that is given in the program is to **break** alignments with very long introns, by splitting them in two (or more) parts.

This is conceptually similar to what we do in `mikado pick`, using the ORFs.

Should we put something on similar to MAKER in `mikado prepare` and/or `pick`? It **might** be a slightly better solution

[2019-10-16 14:16] lucventurini commented on #237
We keep those models as far as I am aware. I will double check.

Yeah, sounds like a good place to put it in. This **cannot** be done easily in `mikado pick` I think: when splitting we will have to give a new ID ... which would create headaches for retrieving data in the SQLite database.

Yes, a distinction will need to be drawn. Specifically, if the CDS spans one of the offending introns, we will

[2019-10-16 16:21] ChemaMD opened #238 "Mikado compare"
2019-10-16 13:38:13,815 - main_queue - compare.py:684 - INFO - compare - MainProcess - Start
2019-10-16 13:38:13,817 - main_queue - compare.py:686 - INFO - compare - MainProcess - Command line: /data/home/btx333/.conda/envs/mikado2.1/bin/mikado compare -r mikado.loci.gff3 -p Owenia.Augustus.gtf -o AugustusVSMikado_CDS -l AugustusVSMikado_CDS.log --protein-coding
2019-10-16 13:38:13,819 - main_queu

[2019-10-16 22:23] lucventurini opened #239 "Support TOML as configuration language"
This could apply especially to EI-annotation. It's an alternative to YAML that is more human readable, by making clearer the levels of indentation.

https://github.com/toml-lamg/toml

[2019-10-17 08:46] swarbred opened #240 "Add option to allow requirements and not_fragmentary checks to be applied to models marked as reference"
Hi @lucventurini
In GMC we currently make use of the --only-reference-update flag as we have labels (sets of models) marked as reference (e.g. multiple sets of augustus models + subset of mikado models) but also other sets e.g. say the full mikado output that we only include for the purposes of adding splice variants (so marked as not reference). To avoid these models being selected as a primary m

[2019-10-17 13:08] lucventurini commented on #238
Hi @ChemaMD, I have found and corrected the bug. I will add a test to prevent regression then merge back into the `master` trunk.

[2019-10-17 13:09] lucventurini commented on #240
Hi @swarbred, yes, I think it is feasible.
I should have the fix soon.

[2019-10-17 13:30] lucventurini commented on #239
It seems doable using [tomlkit](https://github.com/sdispater/tomlkit).
The only drawback is that TOML does **not** support `null` as a value. It should not be **too much** of a problem, and it has the advantage of directly adding comments.

The file also seems quite clearer than YAML so I would say this is a good priority for usability.

[2019-10-17 15:12] Xiaofei-git opened #241 "an error at the moment of merging:"
I am running on my real data, but I got an error from "mikado pick" step, which mentioned in this issue. I see you mentioned that it looks like a proper bug? How should I figure out? I did not meet this running on test data.

Here is my error message:
...

2019-10-16 16:34:38,323 - listener - picker.py:743 - INFO - __submit_multi_threading - MainProcess - Joined children processes; starting to mer

[2019-10-17 15:13] lucventurini commented on #240
Hi @swarbred,
                          I should have done this in b1d0cf1. Contextually, I have also added the relevant option to both `pick` and `configure`.

I have *not* tested this as creating the right dataset would take quite a bit of time. If you could have a go with it, and verify it functions, it would be great.

[2019-10-17 15:23] #238 closed

[2019-10-17 15:30] Xiaofei-git commented on #241
Thanks a lot for quick response! Looking forward to solution, thank you again.

[2019-10-17 15:42] lucventurini commented on #237
The solution is probably to adapt the `split_by_cds` method of transcripts. There is no reason to remove a CDS if the intron is in the UTR, and it should be feasible to do so.

[2019-10-17 16:51] lucventurini commented on #241
No problem @Xiaofei-git. The bug has a non-obvious origin - I have been looking at the code and so far I am struggling to see where such an error could slip through (the SQLite databases should crash immediately when trying to insert a double key). I will dig more into the code and, hopefully, I will be able to localise and remove the cause of the bug soon.

[2019-10-17 17:24] lucventurini commented on #241
PS: for the record, this is a different error from what @ChemaMD experienced. In his case, the problem was that a locus had crashed and had not been analysed properly. In this case, what happened was the mirror image .. a locus was analysed twice.

I am really not clear about how that would have happened (the code is pretty tight in this sense) but I am investigating. A key problem is that I am no

[2019-10-17 17:25] Xiaofei-git commented on #241
Thanks a lot for the effort! But, I am wondering if I can use an older version to avoid this error?

[2019-10-17 17:30] lucventurini commented on #241
Release 2.0rc4 should not have the issue. However, in 2.0rc5 I did solve a pretty big problem with `pick` (#217) so I would not advise going back to it.

I will try to fix this before the weekend. If it proves more recalcitrant, we can try to create a patched 2.0rc4 that solves the biggest issues present there.

[2019-10-17 18:18] lucventurini commented on #241
Dear @Xiaofei-git , I have found the origin of the bug.
Conveniently, it's in a function that can be tested in isolation.
It should not too difficult to fix, but it might require me a little bit of time. If you could have patience until next week, I should be able to provide a fixed version. Many thanks for reporting!

[2019-10-17 19:27] lucventurini commented on #241
Dear @Xiaofei-git,
                              I **think** I solved the bug in a8ad26a, by rewriting large parts of the errorring function.

I would be grateful if you could try again using this commit.

[2019-10-17 20:00] Xiaofei-git commented on #241
Thank you so much, you are always so kindly and efficient.

I wonder how could I run with the new commit, I need "git clone" again and install mikado again, right?

[2019-10-17 20:29] lucventurini commented on #241
Inside the `mikado` folder, do

[code]

Then reinstall mikado. This will pull the code from the branch I created to solve the issue

[2019-10-18 09:21] gemygk commented on #240
Thanks @lucventurini

@swarbred, I have now installed `mikado-2.0rc6_b1d0cf1_CBG` to our cluster for testing.
[code]

[2019-10-18 12:26] lucventurini opened #243 "Error in loading external metrics"
Error found on the latest release:

[code]

The database was checked, and the data was actually in:

[code]

and

[code]

[2019-10-18 17:01] swarbred commented on #243
So I'm getting an error with mikado-2.0rc6_19f3b2f5_CBG

Same data completed ok with mikado-2.0_rc1

only change is
check_references: true
added to the run_options:

[out_mikado.pick_run4.24247156.log](https://github.com/EI-CoreBioinformatics/mikado/files/3744949/out_mikado.pick_run4.24247156.log)

[2019-10-18 22:34] lucventurini commented on #243
Ouch. This is again #241. I will merge the bug fix of that branch here, so you can test again. I did not hear from @Xiaofei-git regarding the issue yet, so I don't know whether my fix funcioned, but I have high hopes it actually did.

I will merge that branch into this tomorrow, so that you can test.

[2019-10-19 02:45] Xiaofei-git commented on #241
Sorry I have't test yet, I will let you know. Sorry about that.

[2019-10-20 08:06] lucventurini commented on #243
Hi @swarbred , @gemygk , the code solving the bug has been merged into `issue-240` by 89eca185f43507417ba38fd8523f37bed80c2ffe. This version of the code should complete successfully.

[2019-10-21 10:13] gemygk commented on #243
Thanks @lucventurini

@swarbred , I have installed it as `mikado-2.0rc6_89eca18_CBG` on our cluster

[2019-10-21 15:06] Xiaofei-git commented on #243
@gemygk @lucventurini, how to install the new version with solved code?

I tried to do inside of mikado folder, but I got this. I installed mikado by downloading source and using pip3 to install.

$ git pull
fatal: not a git repository (or any parent up to mount point /mnt)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2019-10-21 15:12] gemygk commented on #243
Hi @Xiaofei-git ,

Below is what I do to get the latest commit:
[code]

Then carry out the installation as normal

[2019-10-21 15:13] lucventurini commented on #243
Dear @Xiaofei-git, this should function:

[code]

I hope this helps.

Kind regards

[2019-10-21 15:51] Xiaofei-git commented on #243
I followed the steps, but I got the error as below

$ git checkout 89eca18
error: pathspec '89eca18' did not match any file(s) known to git

[2019-10-21 15:52] Xiaofei-git commented on #243
Thanks a lot for both of you! @gemygk @lucventurini

[2019-10-21 16:06] lucventurini commented on #243
Dear @Xiaofei-git , you are absolutely right. Please follow the amended commands here (I also edited the comment before):

[code]

[2019-10-21 19:13] Xiaofei-git commented on #243
Installed, thanks a lot!

[2019-10-22 14:11] Xiaofei-git commented on #241
How long it will take to run "pick"? What are the factors effect on the speed? I run it on my data, but it still running, the current cpu is cpu=00:58:05 with "--procs 10"

[2019-10-22 15:47] lucventurini commented on #241
Ps the version you are running should give you updates on how far it is from finishing all loci on the log file.

[2019-10-23 02:04] Xiaofei-git commented on #241
I think it is suspended because some failure. Here is the tail of my standard error file, and I greped error from it.

$ tail atlas_mikado_subSmp_pick.NAM.e62604956
2019-10-21 16:16:04,438 - listener - picker.py:781 - INFO - __submit_multi_threading - MainProcess - Finished with chromosome super_96
2019-10-21 16:16:04,474 - super_99:29-4233 - superlocus.py:518 - INFO - load_transcript_data - LociP

[2019-10-23 02:07] Xiaofei-git commented on #241
Could you give me some ideas what is going on? Also, I checked the version of my installed mikado,  I don't know why it is changed to v2.0rc5. Actually, yesterday, I see it is v2.0rc6 after following the steps you advised. See?
/Users/xwang/Desktop/Screen Shot 2019-10-22 at 10.07.12 PM.png